<div class="account navbar flex-lc pr">
    <div class="avatar flex-lc" data-toggle="dropdown">
        <div class="avatar__info">
            <div class="name font-weight-bold">Ethan Nguyen</div>
            <div class="position gray txt-xs">Admin</div>
        </div>
        <div class="avatar__img"><img src="./assets/img/avt.png" alt=""></div>
    </div>
    <ul class="dropdown-menu">
        <li><a href="/cms-wealify/build/profile" title="">Profile</a></li>
        <li><a href="javascript:;" title="" data-toggle="modal" data-target="#topup-koala">Top-up</a></li>
        <li><a href="javascript:;" title="" data-toggle="modal" data-target="#popup-exchange-vnd">Exchange money</a></li>
        <li><a href="" title="">Log out</a></li>
    </ul>
</div>
<div class="notifi-fix">
    <div class="notifi-success flex-lc">
        <div class="icon"><img src="./assets/img/check-1.svg" alt=""></div>
        <span class="txt-sm"></span>
    </div>
</div>

<div class="modal fade" id="popup-exchange-vnd">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal"></button>
            <h2 class="title">Exchange money from VND to USD</h2>
            <ul class="tab nav">
                <li><a href="#koala" title="" data-toggle="tab" class="active txt-sm">Koala Balance</a></li>
                <li><a href="#balance" title="" data-toggle="tab" class="txt-sm">Wealify Balance</a></li>
            </ul>
            <div class="tab-content">
                <div id="koala" class="tab-pane fade show active">
                    <form action="" method="" class="modal-form">
                        <div class="form-group flex">
                            <label class="txt-sm">Koala Balance VND</label>
                            <div class="content">
                                <input type="text" value="466,798 VND" class="font-weight-medium border-0 p-0" readonly="">
                            </div>
                        </div>
                        <div class="form-group flex">
                            <label class="txt-sm">Amount of VND need for conversion</label>
                            <div class="content">
                                <div class="border flex-lc justify-content-between">
                                    <input type="number" name="amount" value="467">
                                    <span>VND</span>
                                </div>
                                <div class="note">
                                    <p>Your wallet balance is insufficient. Please enter an amount that is less than or equal to your VND balance.</p>
                                    <p>Need to top up xxx.xxx VND</p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group flex-lc">
                            <label class="txt-sm">Koala's Expected VND/USD conversion rate</label>
                            <div class="content">
                                <input type="text" name="name" class="gray" value="1 USD = 24.120 VND">
                            </div>
                        </div>
                        <div class="form-group flex-lc">
                            <label class="txt-sm">Amount of USD expected to receive</label>
                            <div class="content">
                                <div class="border flex-lc justify-content-between">
                                    <input type="number" name="amount" class="gray-1" value="00.00">
                                    <span>USD</span>
                                </div>
                            </div>
                        </div>
                        <div class="box-btn box-btn--cs flex">
                            <button type="button" class="btn-sub flex-center" data-toggle="modal" data-target="#topup-koala" data-dismiss="modal">TOP UP</button>
                            <button type="button" class="btn-pr flex-center" data-toggle="modal" data-target="#order-detail-vnd" data-dismiss="modal">EXCHANGE</button>
                        </div>
                    </form>
                </div>
                <div id="balance" class="tab-pane fade">
                    <form action="" method="" class="modal-form">
                        <div class="form-group flex">
                            <label class="txt-sm">Wealily Balance VND</label>
                            <div class="content">
                                <input type="text" value="466,798 VND" class="font-weight-medium border-0 p-0" readonly="">
                            </div>
                        </div>
                        <div class="form-group flex">
                            <label class="txt-sm">Amount of VND need for conversion</label>
                            <div class="content">
                                <div class="border flex-lc justify-content-between">
                                    <input type="number" name="amount" value="467">
                                    <span>VND</span>
                                </div>
                                <div class="note">
                                    <p>Your wallet balance is insufficient. Please enter an amount that is less than or equal to your VND balance.</p>
                                    <p>Need to top up xxx.xxx VND</p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group flex-lc">
                            <label class="txt-sm">Koala's Expected VND/USD conversion rate</label>
                            <div class="content">
                                <input type="text" name="name" class="gray" value="1 USD = 24.120 VND">
                            </div>
                        </div>
                        <div class="form-group flex-lc">
                            <label class="txt-sm">Amount of USD expected to receive</label>
                            <div class="content">
                                <div class="border flex-lc justify-content-between">
                                    <input type="number" name="amount" class="gray-1" value="00.00">
                                    <span>USD</span>
                                </div>
                            </div>
                        </div>
                        <div class="box-btn box-btn--cs flex">
                            <button type="button" class="btn-sub flex-center" data-toggle="modal" data-target="#topup-balance" data-dismiss="modal">TOP UP</button>
                            <button type="button" class="btn-pr flex-center" data-toggle="modal" data-target="#order-detail-vnd" data-dismiss="modal">EXCHANGE</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="topup-koala">
    <div class="modal-dialog" role="document">
        <div class="modal-content topup">
            <button type="button" class="close" data-dismiss="modal"></button>
            <h2 class="title">Top Up</h2>
            <ul class="tab nav">
                <li>
                    <a href="#topupkoala" title="" data-toggle="tab" class="active text-left">
                        <p class="txt-sm font-weight-medium">Top Up to Koala Balance</p>
                        <span>(Expected VND/USD conversion rate:  xx,xxx VND)</span>
                    </a>
                </li>
                <li>
                    <a href="#topupbalance" title="" data-toggle="tab" class="text-left">
                        <p class="txt-sm font-weight-medium">Top Up to Wealify Balance</p>
                        <span>(Expected VND/USD conversion rate:  xx,xxx VND)</span>
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="topupkoala" class="tab-pane fade show active">
                    <h3 class="mb-4 txt-sm gray font-italic">Transaction information</h3>
                    <form action="" method="" class="modal-form">
                        <div class="form-group flex">
                            <label class="txt-sm">Customer Name</label>
                            <div class="content">
                                <input type="text" value="Nguyen Van A" class="font-weight-medium border-0 p-0" readonly="">
                            </div>
                        </div>
                        <div class="form-group flex">
                            <label class="txt-sm">Customer ID</label>
                            <div class="content">
                                <input type="number" value="123456" class="font-weight-medium border-0 p-0" readonly="">
                            </div>
                        </div>
                        <div class="form-group flex">
                            <label class="txt-sm">Balance VND Koala</label>
                            <div class="content">
                                <input type="text" name="name" value="1,000,000,000 VND" class="font-weight-medium border-0 p-0">
                            </div>
                        </div>
                        <div class="form-group flex">
                            <label class="txt-sm">Amount to Top up</label>
                            <div class="content">
                                <div class="border flex-lc justify-content-between">
                                    <input type="number" name="amount" class="gray-1" value="00.00">
                                    <span>VND</span>
                                </div>
                                <div class="note mt-0">Minimum top-up amount: 20,000 VND</div>
                            </div>
                        </div>
                        <div class="form-group flex">
                            <label class="txt-sm">Method</label>
                            <div class="content">
                                <input type="text" name="name" class="font-weight-medium border-0 p-0" value="Transfer">
                            </div>
                        </div>
                        <div class="box-note">
                            <h4>Note</h4>
                            <div class="content w-100">
                                <p>Minimum top-up amount: 20,000 VND.</p>
                                <p>Maximum top-up amount: 499,999,999 VND per transaction.</p>
                                <p>Your balance will be automatically updated after you make the transfer with the correct system-generated content.</p>
                                <p>Please enter the exact amount of VND you wish to top up and press "Top-up".</p>
                                <p>Utilize the primary account holder's account to make transfers.</p>
                            </div>
                        </div>
                        <div class="checkbox">
                            <label class="flex-lc">
                                <input type="checkbox" name="">
                                <span>I agree with Terms of Use and Policy</span>
                            </label>
                        </div>
                        <div class="box-btn box-btn--cs flex">
                            <button type="button" class="btn-sub flex-center" data-toggle="modal" data-target="#order-detail-topup" data-dismiss="modal">TOP UP</button>
                        </div>
                    </form>
                </div>
                <div id="topupbalance" class="tab-pane fade">
                    <h3 class="mb-4 txt-sm gray font-italic">Transaction information</h3>
                    <form action="" method="" class="modal-form">
                        <div class="form-group flex">
                            <label class="txt-sm">Customer Name</label>
                            <div class="content">
                                <input type="text" value="Nguyen Van A" class="font-weight-medium border-0 p-0" readonly="">
                            </div>
                        </div>
                        <div class="form-group flex">
                            <label class="txt-sm">Customer ID</label>
                            <div class="content">
                                <input type="number" value="123456" class="font-weight-medium border-0 p-0" readonly="">
                            </div>
                        </div>
                        <div class="form-group flex">
                            <label class="txt-sm">Balance VND Wealify </label>
                            <div class="content">
                                <input type="text" name="name" value="1,000,000,000 VND" class="font-weight-medium border-0 p-0">
                            </div>
                        </div>
                        <div class="form-group flex">
                            <label class="txt-sm">Amount to Top up</label>
                            <div class="content">
                                <div class="border flex-lc justify-content-between">
                                    <input type="number" name="amount" class="gray-1" value="00.00">
                                    <span>VND</span>
                                </div>
                                <div class="note mt-0">Minimum top-up amount: 20,000 VND</div>
                            </div>
                        </div>
                        <div class="form-group flex">
                            <label class="txt-sm">Method</label>
                            <div class="content">
                                <input type="text" name="name" class="font-weight-medium border-0 p-0" value="Transfer">
                            </div>
                        </div>
                        <div class="box-note">
                            <h4>Note</h4>
                            <div class="content w-100">
                                <p>Minimum top-up amount: 20,000 VND.</p>
                                <p>Maximum top-up amount: 499,999,999 VND per transaction.</p>
                                <p>Your balance will be automatically updated after you make the transfer with the correct system-generated content.</p>
                                <p>Please enter the exact amount of VND you wish to top up and press "Top-up".</p>
                                <p>Utilize the primary account holder's account to make transfers.</p>
                            </div>
                        </div>
                        <div class="checkbox">
                            <label class="flex-lc">
                                <input type="checkbox" name="">
                                <span>I agree with Terms of Use and Policy</span>
                            </label>
                        </div>
                        <div class="box-btn box-btn--cs flex">
                            <button type="button" class="btn-sub flex-center" data-toggle="modal" data-target="#order-detail-topup" data-dismiss="modal">TOP UP</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>