<footer>
    <div class="container">
        <h4>Công ty cổ phần công nghệ GTV Việt Nam</h4>
        <div class="hotline">hotline <a href="tel:19006616"><span>1900</span>6616</a></div>
        <div class="text">
            <p>Giấy phép MXH số 146/GP-BTTTT Được cấp bởi Bộ Thông Tin và Truyền Thông</p>
            <p>© Copyright 2020. Bản quyền thuộc về GTV. Cấm sao chép dưới mọi hình thức.</p>
        </div>
        <div class="box-logo flex">
            <a href="" title="" class="gtv"><img src="./assets/img/landing/gtv.png" alt=""></a>
            <a href="" title="" class="vinaphone"><img src="./assets/img/landing/vinaphone.png" alt=""></a>
            <a href="" title="" class="mobiphone"><img src="./assets/img/landing/mobifone.png" alt=""></a>
        </div>
    </div>
</footer>