<header>
    <nav class="navbar navbar-expand-lg">
        <button class="navbar-toggler" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a href="/" class="logo"><img src="./assets/img/logo.svg" alt=""></a>
        <div class="navbar-collapse" id="navbar">
            <a href="javascript:;" class="close">X</a>
            <ul class="navbar-nav flex">
                <li><a href="http://localhost:8000/home.html" title="ABOUT US">ABOUT US</a></li>
                <li><a href="" title="SERVICES & PRODUCTS">SERVICES & PRODUCTS</a></li>
                <li><a href="" title="CASE STUDIES">CASE STUDIES</a></li>
                <li><a href="" title="BLOG">BLOG</a></li>
                <li><a href="" title="NEWS">NEWS</a></li>
                <li><a href="" title="CAREER">CAREER</a></li>
                <li><a href="" title="CONTACT">CONTACT</a></li>
            </ul>
        </div>
    </nav>
</header>
