<div class="sidebar">
    <div class="flex-lc px-20 pr">
        <a href="/cms-wealify/build/dashboard" title="" class="logo"><img src="./assets/img/logo.png" alt=""></a>
        <button type="button" class="btn-toggle-sidebar"><i class="icon icon-collapse"></i></button>
    </div>
    <div class="box-title px-20">
        <h2 class="title">Overview</h2>
    </div>
    <div class="navbar px-20">
        <ul class="menu">
            <li><a href="/cms-wealify/build/dashboard" title="" class="flex-lc"><i class="icon icon-dashboard"></i><span>Dashboard</span></a></li>
            <li><a href="/cms-wealify/build/account" title="" class="flex-lc"><i class="icon icon-account"></i><span>Account</span></a></li>
            <li>
                <a href="javascript:;" title="" class="flex-lc accordion"><i class="icon icon-card"></i><span>Card</span></a>
                <ul class="sub-menu">
                    <li><a href="/cms-wealify/build/my-card" title="">My Card</a></li>
                </ul>
                <button type="button" class="btn-collapse"></button>
            </li>
            <li>
                <a href="/cms-wealify/build/transfers" title="" class="flex-lc accordion"><i class="icon icon-transfer"></i><span>Transfers</span></a>
                <ul class="sub-menu">
                    <li><a href="" title="">Contacts</a></li>
                    <li><a href="" title="">Transaction List</a></li>
                </ul>
                <button type="button" class="btn-collapse"></button>
            </li>
            <li><a href="/cms-wealify/build/claim" title="" class="flex-lc"><i class="icon icon-claim"></i><span>Claim</span></a></li>
            <li><a href="/cms-wealify/build/bills" title="" class="flex-lc"><i class="icon icon-bills"></i><span>Bills</span></a></li>
            <li><a href="/cms-wealify/build/transation" title="" class="flex-lc"><i class="icon icon-transaction"></i><span>Transaction & Report</span></a></li>
            <li><a href="/cms-wealify/build/users" title="" class="flex-lc"><i class="icon icon-user"></i><span>Users/Role and Permissions</span></a></li>
        </ul>
    </div>
</div>
<div class="modal-sidebar"></div>
