<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{{pageTitle}}</title>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Unbounded:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="./assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="./assets/css/select2.min.css" rel="stylesheet">
    <link href="./assets/css/bootstrap-datepicker.min.css" rel="stylesheet">
    <link href="./assets/css/style.css" rel="stylesheet">
</head>
<body class="{{bodyClasses}}">
{% block content %}{% endblock %}
<script src="./assets/js/jquery-3.1.1.min.js"></script>
<script src="./assets/js/bootstrap.min.js"></script>
<script src="./assets/js/select2.min.js"></script>
<script src="./assets/js/bootstrap-datepicker.min.js"></script>
<script>
    $(document).ready(function () {
        //call select min2
        $('.select2-min').select2();


        $(".datepicker").datepicker("setDate", new Date());

        $('.modal .box-btn button').on('click',function (){
            $('body').addClass('modal-active');
        });

        var urlcurrent = window.location.pathname;
        $(".menu li a[href$='"+urlcurrent+"']").addClass('active');
        $(".menu li a[href$='"+urlcurrent+"']").parents('li').addClass('show');

        $('.sidebar .btn-toggle-sidebar').on('click',function () {
            $('.sidebar, .modal-sidebar').toggleClass('show');
            $('.main').toggleClass('hide-sidebar');
        });
        $('.modal-sidebar').on('click',function () {
            $('.sidebar, .modal-sidebar').removeClass('show');
        });

        //accordion
        var accordion_content = $('.menu .sub-menu');
        var accordion__header        = $('.menu .accordion');
        var accordion_active = $('.menu > .active');
        accordion_content.hide();
        accordion_active.find('.sub-menu').slideToggle();

        accordion__header.click(function (e) {
            e.preventDefault();
            $(this).parent().toggleClass('show');

            if (accordion_content.parent('.show')) {
                $(this).parent().find('.sub-menu').slideToggle();
            }
            return false;
        });
    });
</script>
</body>
</html>