<div class="main flex">
    {% include "../share/sidebar.html" %}
    <div class="main-content">
        {% include "../share/account.html" %}
        <div class="col-sys flex">
            <div class="col-full">
                <div class="content">
                    <div class="attach flex mb-sm">
                        <a href="" class="item flex-lc">
                            <div class="icon"><img src="./assets/img/photo.svg" alt=""></div>
                            <div class="txt txt-sm">Attach missing receipts transactions...</div>
                        </a>
                        <a href="" class="item flex-lc">
                            <div class="icon"><img src="./assets/img/warning.svg" alt=""></div>
                            <div class="txt txt-sm">Attach missing receipts</div>
                        </a>
                    </div>
                    <div class="virtual-card mb-sm">
                        <h2 class="title">Virtual Card</h2>
                        <div class="bg-white">
                            <div class="box-select pr">
                                <div class="selected flex-lc pr">
                                    <div class="img"><img src="./assets/img/vietnam.svg" alt="" class="img-fit"></div>
                                    <div class="info txt-sm pl-3">
                                        <p class="font-weight-medium">VND Account</p>
                                        <span>250.000.000,00</span>
                                    </div>
                                </div>
                            </div>
                            <div class="box-card flex">
                                <div class="card flex">
                                    <div class="card__img"><img src="./assets/img/card-2.png" alt=""></div>
                                    <div class="card__info">
                                        <div class="info">
                                            <p><strong>Total VND Balance: xx,xxx,xxx VND</strong></p>
                                            <p>Balance VND Koala: xx,xxx,xxx VND (1USD=xxx VND)</p>
                                            <p>Balance VND Wealify: xx,xxx,xxx VND (1USD=xxx VND)</p>
                                            <p><strong>Total USD Balance: xx,xxxx.xxx USD</strong></p>
                                        </div>
                                        <div class="box-btn flex">
                                            <button type="button" class="btn-create txt-xs font-weight-bold flex-lc" data-toggle="modal" data-target="#create-card"><i class="icon icon-add"></i><span>Create Card</span></button>
                                            <a href="/cms-wealify/build/my-card" title="" class="btn-see txt-xs font-weight-bold flex-lc"><span>See Cards</span><i class="icon icon-see"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-right">
                                    <div class="dropdown navbar">
                                        <button type="button" data-toggle="dropdown" class="btn-dropdown txt-sm flex-center">EXCHANGER MONEY</button>
                                        <div class="dropdown-menu">
                                            <button type="button" data-toggle="modal" data-target="#popup-exchange-vnd">Exchange VND to USD</button>
                                            <button type="button" data-toggle="modal" data-target="#popup-exchange-usd">Exchange USD to VND</button>
                                        </div>
                                    </div>
                                    <button type="button" class="btn-topup txt-sm flex-center" data-toggle="modal" data-target="#topup-koala">TOP - UP</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="transfer">
                        <h2 class="title">Transfer</h2>
                        <div class="content bg-white">
                            <div class="coming-soon txt-sm font-weight-medium flex-center">Coming Soon</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="popup-exchange-usd">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal"></button>
            <h2 class="title">Exchange money from USD to VND</h2>
            <form action="" method="" class="modal-form">
                <div class="form-group flex">
                    <label class="txt-sm">Balance VND</label>
                    <div class="content">
                        <input type="text" value="466,79 VND" class="font-weight-medium border-0 p-0" readonly="">
                    </div>
                </div>
                <div class="form-group flex">
                    <label class="txt-sm">Amount of USD need for conversion</label>
                    <div class="content">
                        <div class="border flex-lc justify-content-between">
                            <input type="number" name="amount" value="466">
                            <span>USD</span>
                        </div>
                        <div class="note">Your wallet balance is insufficient. Please enter an amount that is less than or equal to your USD balance.</div>
                    </div>
                </div>
                <div class="form-group flex-lc">
                    <label class="txt-sm">Wealify's Expected VND/USD conversion rate</label>
                    <div class="content">
                        <input type="text" name="name" class="gray" value="1 USD = 24.120 VND">
                    </div>
                </div>
                <div class="form-group flex-lc">
                    <label class="txt-sm">Amount of VND expected to receive</label>
                    <div class="content">
                        <div class="border flex-lc justify-content-between">
                            <input type="text" name="amount" class="font-weight-medium" value="11.231.000">
                            <span>VND</span>
                        </div>
                    </div>
                </div>
                <div class="box-btn box-btn--cs flex">
                    <button type="button" class="btn-pr flex-center" data-toggle="modal" data-target="#order-detail-usd" data-dismiss="modal">EXCHANGE</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="order-detail-vnd">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal"></button>
            <h2 class="title">Order details</h2>
            <div class="notifi txt-sm">Exchange Order xxxxxxx has been successfully created and is expected to be completed within 2 hours. Please check the status in the Transaction List.</div>
            <div class="detail-info">
                <div class="item flex-lc">
                    <h4 class="txt-sm">VND Balance</h4>
                    <div class="txt-sm font-weight-medium">466,798 VND</div>
                </div>
                <div class="item flex-lc">
                    <h4 class="txt-sm">Amount of VND need for conversion</h4>
                    <div class="txt-sm font-weight-medium">466,798 VND</div>
                </div>
                <div class="item flex-lc">
                    <h4 class="txt-sm">VND/USD conversion rate</h4>
                    <div class="txt-sm font-weight-medium">1 USD = 24.120 VND</div>
                </div>
                <div class="item flex-lc">
                    <h4 class="txt-sm">Amount of USD to receive</h4>
                    <div class="txt-sm font-weight-medium">19.41 USD</div>
                </div>
            </div>
            <div class="box-btn flex">
                <button type="button" class="btn-sub flex-center lg" data-dismiss="modal">CREATE A NEW ORDER</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="order-detail-usd">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal"></button>
            <h2 class="title">Order details</h2>
            <div class="notifi txt-sm">Exchange Order xxxxxxx has been successfully created and is expected to be completed within 2 hours. Please check the status in the Transaction List.</div>
            <div class="detail-info">
                <div class="item flex-lc">
                    <h4 class="txt-sm">USD Balance</h4>
                    <div class="txt-sm font-weight-medium">466,798 VND</div>
                </div>
                <div class="item flex-lc">
                    <h4 class="txt-sm">Amount of VND need for conversion</h4>
                    <div class="txt-sm font-weight-medium">466,798 VND</div>
                </div>
                <div class="item flex-lc">
                    <h4 class="txt-sm">USD/VND conversion rate</h4>
                    <div class="txt-sm font-weight-medium">1 USD = 24.120VND</div>
                </div>
                <div class="item flex-lc">
                    <h4 class="txt-sm">Amount of USD to receive</h4>
                    <div class="txt-sm font-weight-medium">19.41 USD</div>
                </div>
            </div>
            <div class="box-btn flex">
                <button type="button" class="btn-sub lg flex-center">CREATE A NEW ORDER</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="topup-balance">
    <div class="modal-dialog" role="document">
        <div class="modal-content topup">
            <button type="button" class="close" data-dismiss="modal"></button>
            <h2 class="title">Top Up</h2>
            <ul class="tab nav">
                <li>
                    <a href="#topup_koala" title="" data-toggle="tab" class="text-left">
                        <p class="txt-sm font-weight-medium">Top Up to Koala Balance</p>
                        <span>(Expected VND/USD conversion rate:  xx,xxx VND)</span>
                    </a>
                </li>
                <li>
                    <a href="#topup_balance" title="" data-toggle="tab" class="active text-left">
                        <p class="txt-sm font-weight-medium">Top Up to Wealify Balance</p>
                        <span>(Expected VND/USD conversion rate:  xx,xxx VND)</span>
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="topup_koala" class="tab-pane fade">
                    <h3 class="mb-4 txt-sm gray font-italic">Transaction information</h3>
                    <form action="" method="" class="modal-form">
                        <div class="form-group flex">
                            <label class="txt-sm">Customer Name</label>
                            <div class="content">
                                <input type="text" value="Nguyen Van A" class="font-weight-medium border-0 p-0" readonly="">
                            </div>
                        </div>
                        <div class="form-group flex">
                            <label class="txt-sm">Customer ID</label>
                            <div class="content">
                                <input type="number" value="123456" class="font-weight-medium border-0 p-0" readonly="">
                            </div>
                        </div>
                        <div class="form-group flex">
                            <label class="txt-sm">Balance VND Koala</label>
                            <div class="content">
                                <input type="text" name="name" value="1,000,000,000 VND" class="font-weight-medium border-0 p-0">
                            </div>
                        </div>
                        <div class="form-group flex">
                            <label class="txt-sm">Amount to Top up</label>
                            <div class="content">
                                <div class="border flex-lc justify-content-between">
                                    <input type="number" name="amount" class="gray-1" value="00.00">
                                    <span>VND</span>
                                </div>
                                <div class="note mt-0">Minimum top-up amount: 20,000 VND</div>
                            </div>
                        </div>
                        <div class="form-group flex">
                            <label class="txt-sm">Method</label>
                            <div class="content">
                                <input type="text" name="name" class="font-weight-medium border-0 p-0" value="Transfer">
                            </div>
                        </div>
                        <div class="box-note">
                            <h4>Note</h4>
                            <div class="content w-100">
                                <p>Minimum top-up amount: 20,000 VND.</p>
                                <p>Maximum top-up amount: 499,999,999 VND per transaction.</p>
                                <p>Your balance will be automatically updated after you make the transfer with the correct system-generated content.</p>
                                <p>Please enter the exact amount of VND you wish to top up and press "Top-up".</p>
                                <p>Utilize the primary account holder's account to make transfers.</p>
                            </div>
                        </div>
                        <div class="checkbox">
                            <label class="flex-lc">
                                <input type="checkbox" name="">
                                <span>I agree with Terms of Use and Policy</span>
                            </label>
                        </div>
                        <div class="box-btn box-btn--cs flex">
                            <button type="button" class="btn-sub flex-center" data-toggle="modal" data-target="#order-detail-topup" data-dismiss="modal">TOP UP</button>
                        </div>
                    </form>
                </div>
                <div id="topup_balance" class="tab-pane fade show active">
                    <h3 class="mb-4 txt-sm gray font-italic">Transaction information</h3>
                    <form action="" method="" class="modal-form">
                        <div class="form-group flex">
                            <label class="txt-sm">Customer Name</label>
                            <div class="content">
                                <input type="text" value="Nguyen Van A" class="font-weight-medium border-0 p-0" readonly="">
                            </div>
                        </div>
                        <div class="form-group flex">
                            <label class="txt-sm">Customer ID</label>
                            <div class="content">
                                <input type="number" value="123456" class="font-weight-medium border-0 p-0" readonly="">
                            </div>
                        </div>
                        <div class="form-group flex">
                            <label class="txt-sm">Balance VND Wealify </label>
                            <div class="content">
                                <input type="text" name="name" value="1,000,000,000 VND" class="font-weight-medium border-0 p-0">
                            </div>
                        </div>
                        <div class="form-group flex">
                            <label class="txt-sm">Amount to Top up</label>
                            <div class="content">
                                <div class="border flex-lc justify-content-between">
                                    <input type="number" name="amount" class="gray-1" value="00.00">
                                    <span>VND</span>
                                </div>
                                <div class="note mt-0">Minimum top-up amount: 20,000 VND</div>
                            </div>
                        </div>
                        <div class="form-group flex">
                            <label class="txt-sm">Method</label>
                            <div class="content">
                                <input type="text" name="name" class="font-weight-medium border-0 p-0" value="Transfer">
                            </div>
                        </div>
                        <div class="box-note">
                            <h4>Note</h4>
                            <div class="content w-100">
                                <p>Minimum top-up amount: 20,000 VND.</p>
                                <p>Maximum top-up amount: 499,999,999 VND per transaction.</p>
                                <p>Your balance will be automatically updated after you make the transfer with the correct system-generated content.</p>
                                <p>Please enter the exact amount of VND you wish to top up and press "Top-up".</p>
                                <p>Utilize the primary account holder's account to make transfers.</p>
                            </div>
                        </div>
                        <div class="checkbox">
                            <label class="flex-lc">
                                <input type="checkbox" name="">
                                <span>I agree with Terms of Use and Policy</span>
                            </label>
                        </div>
                        <div class="box-btn box-btn--cs flex">
                            <button type="button" class="btn-sub flex-center" data-toggle="modal" data-target="#order-detail-topup" data-dismiss="modal">TOP UP</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="order-detail-topup">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal"></button>
            <h2 class="title">Order details</h2>
            <div class="notifi txt-sm">Your Top up Order xxxx has been created. Please transfer money according to the information below.</div>
            <div class="detail-info">
                <div class="item flex-lc">
                    <h4 class="txt-sm">Bank name</h4>
                    <div class="txt-sm font-weight-medium">BIDV</div>
                </div>
                <div class="item flex-lc">
                    <h4 class="txt-sm">Account Number</h4>
                    <div class="txt-sm font-weight-medium">012345678</div>
                </div>
                <div class="item flex-lc">
                    <h4 class="txt-sm">Account Name</h4>
                    <div class="txt-sm font-weight-medium">Nguyen Van A</div>
                </div>
                <div class="item flex-lc">
                    <h4 class="txt-sm">Branch</h4>
                    <div class="txt-sm font-weight-medium">Chi nhánh Hà Nội</div>
                </div>
                <div class="item flex-lc">
                    <h4 class="txt-sm">Amount</h4>
                    <div class="txt-sm font-weight-medium">10.000.000 VND</div>
                </div>
                <div class="item flex-lc">
                    <h4 class="txt-sm">Reference</h4>
                    <div class="txt-sm font-weight-medium">IDE456</div>
                </div>
            </div>
            <div class="box-note">
                <h4>Note</h4>
                <div class="content">
                    <p>Use the primary account holder's account to make transfers.</p>
                    <p>Please ensure that you provide the correct transfer reference when making the transfer. The system will automatically update the account balance within 2 to 10 minutes. Kindly check your VND balance after 10 minutes. If you do not see an increase in your balance, please contact Live Chat support.</p>
                    <p>Order XXXXXXXXXXXXXXXXX will be canceled if Wealify does not receive the payment within 12 hours. Please contact support if you do not see the funds credited to your account after 30 minutes.</p>
                </div>
            </div>
            <div class="box-link">Click <a href="" title="">here</a> to read the top up instructions</div>
            <div class="box-btn flex">
                <button type="button" class="btn-sub lg flex-center" data-toggle="modal" data-target="#order-detail-vnd" data-dismiss="modal">CREATE A NEW ORDER</button>
            </div>
        </div>
    </div>
</div>
<div class="modal xs fade" id="create-card">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal"></button>
            <h2 class="title">Create New Card</h2>
            <form action="" method="" class="modal-form">
                <div class="form-group flex">
                    <label class="txt-sm">Card type</label>
                    <div class="content">
                        <input type="text" value="MasterCard HongKong" class="font-weight-medium border-0 p-0" readonly>
                    </div>
                </div>
                <div class="form-group flex">
                    <label class="txt-sm">Card Holder Name</label>
                    <div class="content">
                        <input type="text" name="name" placeholder="Name">
                    </div>
                </div>
                <div class="form-group flex">
                    <label class="txt-sm">Initial Amount</label>
                    <div class="content">
                        <div class="border flex-lc justify-content-between">
                            <input type="text" name="amount" placeholder="00.00">
                            <span>USD</span>
                        </div>
                        <div class="note mt-0">Your wallet balance is insufficient to recharge</div>
                    </div>
                </div>
                <div class="form-group flex">
                    <label class="txt-sm">Maximum amount of a transaction</label>
                    <div class="content">
                        <div class="border flex justify-content-between">
                            <input type="text" name="amount" placeholder="00.00">
                            <span>USD</span>
                        </div>
                    </div>
                </div>
                <div class="box-btn flex">
                    <button type="button" class="btn-cancel" data-dismiss="modal">CANCEL</button>
                    <button type="button" class="btn-pr btn-create-card flex-center" data-dismiss="modal">CREATE NEW CARD</button>
                </div>
            </form>
        </div>
    </div>
</div>