<div class="main flex">
    {% include "../share/sidebar.html" %}
    <div class="main-content">
        {% include "../share/account.html" %}
        <div class="col-sys flex">
            <div class="col-full">
                <div class="content">
                    <h2 class="title">Claim</h2>
                    <div class="content bg-white">
                        <div class="coming-soon mh-lg txt-sm font-weight-medium flex-center">Coming Soon</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
