<div class="main flex">
    {% include "../share/sidebar.html" %}
    <div class="main-content">
        {% include "../share/account.html" %}
        <div class="col-sys flex">
            <div class="col-mid">
                <div class="content">
                    <div class="attach flex mb-sm">
                        <a href="" class="item flex-lc">
                            <div class="icon"><img src="./assets/img/photo.svg" alt=""></div>
                            <div class="txt txt-sm">Attach missing receipts transactions...</div>
                        </a>
                        <a href="" class="item flex-lc">
                            <div class="icon"><img src="./assets/img/warning.svg" alt=""></div>
                            <div class="txt txt-sm">Attach missing receipts</div>
                        </a>
                    </div>
                    <div class="dashboard mb-md">
                        <h2 class="title">Dashboard</h2>
                        <div class="chart">
                            <img src="./assets/img/chart.png" alt="">
                        </div>
                    </div>
                    <div class="transactions">
                        <div class="header flex-lc">
                            <h2 class="title">Recent transactions</h2>
                            <a href="/cms-wealify/build/transation" class="txt-sm font-weight-medium">View all</a>
                        </div>
                        <div class="box-time flex-lc">
                            <time>Otc, 2023</time>
                            <div class="line"></div>
                        </div>
                        <ul class="transaction-list">
                            <li class="flex-lc">
                                <div class="flex-lc">
                                    <div class="icon"><img src="./assets/img/money-bag.svg" alt=""></div>
                                    <div class="info">
                                        <p class="txt-sm">Top-up to Wealify Balance</p>
                                        <time class="txt-xs">18:36 - 10/9/2023</time>
                                    </div>
                                </div>
                                <div class="nav txt-sm font-weight-bold">+15,000 VND</div>
                            </li>
                            <li class="flex-lc">
                                <div class="flex-lc">
                                    <div class="icon"><img src="./assets/img/send.svg" alt=""></div>
                                    <div class="info">
                                        <p class="txt-sm">Exchange VND-USD from Koala Balance</p>
                                        <time class="txt-xs">18:36 - 10/9/2023</time>
                                    </div>
                                </div>
                                <div class="nav txt-sm font-weight-bold">-15,000 VND</div>
                            </li>
                            <li class="flex-lc">
                                <div class="flex-lc">
                                    <div class="icon"><img src="./assets/img/card.svg" alt=""></div>
                                    <div class="info">
                                        <p class="txt-sm">Withdraw USD from Card XXX.3456</p>
                                        <time class="txt-xs">18:36 - 10/9/2023</time>
                                    </div>
                                </div>
                                <div class="nav txt-sm font-weight-bold">-1.000 USD</div>
                            </li>
                        </ul>
                        <div class="box-time flex-lc">
                            <time>Sep, 2023</time>
                            <div class="line"></div>
                        </div>
                        <ul class="transaction-list">
                            <li class="flex-lc">
                                <div class="flex-lc">
                                    <div class="icon"><img src="./assets/img/card-1.svg" alt=""></div>
                                    <div class="info">
                                        <p class="txt-sm">Card XXX.3456 Pay *NETFLIX 12345678*</p>
                                        <time class="txt-xs">18:36 - 10/9/2023</time>
                                    </div>
                                </div>
                                <div class="nav txt-sm font-weight-bold">-1.000 USD</div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="item mb-4">
                    <h4 class="txt-sm gray font-weight-medium">Membership peks</h4>
                    <div class="box-link">
                        <a href="" class="flex-lc">
                            <div class="icon"><img src="./assets/img/refer.svg" alt=""></div>
                            <div class="font-weight-bold">Refer & Earn USD</div>
                        </a>
                        <a href="" class="flex-lc">
                            <div class="icon"><img src="./assets/img/earn.svg" alt=""></div>
                            <div class="font-weight-bold">Earn Cashback</div>
                        </a>
                    </div>
                </div>
                <div class="item mb-4">
                    <h4 class="txt-sm gray font-weight-medium">Help and supoprt</h4>
                    <div class="box-link">
                        <a href="" class="flex-lc">
                            <div class="icon"><img src="./assets/img/safety.svg" alt=""></div>
                            <div class="font-weight-bold">Account safety</div>
                        </a>
                        <a href="" class="flex-lc">
                            <div class="icon"><img src="./assets/img/chat.svg" alt=""></div>
                            <div class="font-weight-bold">Chat with us</div>
                        </a>
                        <a href="" class="flex-lc">
                            <div class="icon"><img src="./assets/img/faq.svg" alt=""></div>
                            <div class="font-weight-bold">FAQs</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>