<div class="main flex">
    {% include "../share/sidebar.html" %}
    <div class="main-content">
        {% include "../share/account.html" %}
        <div class="col-sys flex">
            <div class="col-full white">
                <div class="content">
                    <div class="mycard">
                        <div class="flex-lc mb-3">
                            <h2 class="title mb-0">Cards</h2>
                            <div class="balance txt-sm font-weight-medium">USD Balance: XXX USD</div>
                            <button type="button" class="btn-addcard flex-center txt-sm" data-toggle="modal" data-target="#create-card"><i class="icon icon-addcard"></i><span>New card</span></button>
                        </div>
                        <div class="flex-lc mb-4">
                            <div class="card-number flex-lc">
                                <i class="icon icon-card"></i>
                                <span>11 Cards</span>
                            </div>
                            <form method="" action="" class="form-search">
                                <input type="text" name="" placeholder="Search by user, card name or last 4 digits">
                            </form>
                            <div class="box-select">
                                <select name="" id="" class="select2-min">
                                    <option value="">Status</option>
                                    <option value="">Activated</option>
                                    <option value="">Cancelled</option>
                                    <option value="">Freeze</option>
                                </select>
                            </div>
                        </div>
                        <div class="box-table box-table--cs">
                            <table>
                                <thead>
                                <tr>
                                    <th>Card no.</th>
                                    <th>Card name</th>
                                    <th>Balance</th>
                                    <th>status</th>
                                    <th>Create date</th>
                                    <th>Note</th>
                                    <th>Action</th>
                                    <th>Operation</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        <div class="card flex-lc">
                                            <div class="img"><img src="./assets/img/card-4.svg" alt=""></div>
                                            <div class="name txt-sm font-weight-medium">xxx.4576</div>
                                        </div>
                                    </td>
                                    <td><div class="name">Nguyễn Trung Quân</div></td>
                                    <td>$4,000,000</td>
                                    <td><div class="status activated">Activated</div></td>
                                    <td>---</td>
                                    <td>---</td>
                                    <td><button type="button" class="recharge txt-sm font-weight-bold" data-toggle="modal" data-target="#recharge">Recharge</button></td>
                                    <td>
                                        <div class="navbar">
                                            <button type="button" data-toggle="dropdown" class="btn-view">View Details</button>
                                            <div class="dropdown-menu">
                                                <button type="button" data-toggle="modal" data-target="#card-detail">View Details</button>
                                                <button type="button" data-toggle="modal" data-target="#withdraw-usd">Withdraw USD</button>
                                                <button type="button" data-toggle="modal" data-target="#edit-card">Edit Card</button>
                                                <button type="button" data-toggle="modal" data-target="#freeze-card">Freeze</button>
                                                <button type="button" data-toggle="modal" data-target="#cancel-card">Cancel</button>
                                                <button type="button">See Card Transaction</button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr><td colspan="8"></td></tr>
                                <tr>
                                    <td>
                                        <div class="card flex-lc">
                                            <div class="img"><img src="./assets/img/card-4.svg" alt=""></div>
                                            <div class="name txt-sm font-weight-medium">xxx.4576</div>
                                        </div>
                                    </td>
                                    <td><div class="name">Nguyễn Trung Quân</div></td>
                                    <td>$4,000,000</td>
                                    <td><div class="status activated">Activated</div></td>
                                    <td>---</td>
                                    <td>---</td>
                                    <td><span class="recharge txt-sm font-weight-bold">Recharge</span></td>
                                    <td>
                                        <div class="navbar">
                                            <button type="button" data-toggle="dropdown" class="btn-view">View Details</button>
                                            <div class="dropdown-menu">
                                                <button type="button" data-toggle="modal" data-target="#card-detail">View Details</button>
                                                <button type="button" data-toggle="modal" data-target="#withdraw-usd">Withdraw USD</button>
                                                <button type="button" data-toggle="modal" data-target="#edit-card">Edit Card</button>
                                                <button type="button" data-toggle="modal" data-target="#freeze-card">Freeze</button>
                                                <button type="button" data-toggle="modal" data-target="#cancel-card">Cancel</button>
                                                <button type="button">See Card Transaction</button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr><td colspan="8"></td></tr>
                                <tr>
                                    <td>
                                        <div class="card flex-lc">
                                            <div class="img"><img src="./assets/img/card-4.svg" alt=""></div>
                                            <div class="name txt-sm font-weight-medium">xxx.4576</div>
                                        </div>
                                    </td>
                                    <td><div class="name">Nguyễn Trung Quân</div></td>
                                    <td>$4,000,000</td>
                                    <td><div class="status freeze">Freeze</div></td>
                                    <td>---</td>
                                    <td>---</td>
                                    <td><span class="recharge txt-sm font-weight-bold">Recharge</span></td>
                                    <td>
                                        <div class="navbar">
                                            <button type="button" data-toggle="dropdown" class="btn-view">View Details</button>
                                            <div class="dropdown-menu">
                                                <button type="button" data-toggle="modal" data-target="#card-detail">View Details</button>
                                                <button type="button" data-toggle="modal" data-target="#withdraw-usd">Withdraw USD</button>
                                                <button type="button" data-toggle="modal" data-target="#edit-card">Edit Card</button>
                                                <button type="button" data-toggle="modal" data-target="#freeze-card">Freeze</button>
                                                <button type="button" data-toggle="modal" data-target="#cancel-card">Cancel</button>
                                                <button type="button">See Card Transaction</button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr><td colspan="8"></td></tr>
                                <tr>
                                    <td>
                                        <div class="card flex-lc">
                                            <div class="img"><img src="./assets/img/card-4.svg" alt=""></div>
                                            <div class="name txt-sm font-weight-medium">xxx.4576</div>
                                        </div>
                                    </td>
                                    <td><div class="name">Nguyễn Trung Quân</div></td>
                                    <td>$4,000,000</td>
                                    <td><div class="status activated">Activated</div></td>
                                    <td>---</td>
                                    <td>---</td>
                                    <td><span class="recharge txt-sm font-weight-bold">Recharge</span></td>
                                    <td>
                                        <div class="navbar">
                                            <button type="button" data-toggle="dropdown" class="btn-view">View Details</button>
                                            <div class="dropdown-menu">
                                                <button type="button" data-toggle="modal" data-target="#card-detail">View Details</button>
                                                <button type="button" data-toggle="modal" data-target="#withdraw-usd">Withdraw USD</button>
                                                <button type="button" data-toggle="modal" data-target="#edit-card">Edit Card</button>
                                                <button type="button" data-toggle="modal" data-target="#freeze-card">Freeze</button>
                                                <button type="button" data-toggle="modal" data-target="#cancel-card">Cancel</button>
                                                <button type="button">See Card Transaction</button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr><td colspan="8"></td></tr>
                                <tr>
                                    <td>
                                        <div class="card flex-lc">
                                            <div class="img"><img src="./assets/img/card-4.svg" alt=""></div>
                                            <div class="name txt-sm font-weight-medium">xxx.4576</div>
                                        </div>
                                    </td>
                                    <td><div class="name">Nguyễn Trung Quân</div></td>
                                    <td>$4,000,000</td>
                                    <td><div class="status canced">Cancelled</div></td>
                                    <td>---</td>
                                    <td>---</td>
                                    <td><span class="recharge txt-sm font-weight-bold">Recharge</span></td>
                                    <td>
                                        <div class="navbar">
                                            <button type="button" data-toggle="dropdown" class="btn-view">View Details</button>
                                            <div class="dropdown-menu">
                                                <button type="button" data-toggle="modal" data-target="#card-detail">View Details</button>
                                                <button type="button" data-toggle="modal" data-target="#withdraw-usd">Withdraw USD</button>
                                                <button type="button" data-toggle="modal" data-target="#edit-card">Edit Card</button>
                                                <button type="button" data-toggle="modal" data-target="#freeze-card">Freeze</button>
                                                <button type="button" data-toggle="modal" data-target="#cancel-card">Cancel</button>
                                                <button type="button">See Card Transaction</button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr><td colspan="8"></td></tr>
                                <tr>
                                    <td>
                                        <div class="card flex-lc">
                                            <div class="img"><img src="./assets/img/card-4.svg" alt=""></div>
                                            <div class="name txt-sm font-weight-medium">xxx.4576</div>
                                        </div>
                                    </td>
                                    <td><div class="name">Nguyễn Trung Quân</div></td>
                                    <td>$4,000,000</td>
                                    <td><div class="status canced">Cancelled</div></td>
                                    <td>---</td>
                                    <td>---</td>
                                    <td><span class="recharge txt-sm font-weight-bold">Recharge</span></td>
                                    <td>
                                        <div class="navbar">
                                            <button type="button" data-toggle="dropdown" class="btn-view">View Details</button>
                                            <div class="dropdown-menu">
                                                <button type="button" data-toggle="modal" data-target="#card-detail">View Details</button>
                                                <button type="button" data-toggle="modal" data-target="#withdraw-usd">Withdraw USD</button>
                                                <button type="button" data-toggle="modal" data-target="#edit-card">Edit Card</button>
                                                <button type="button" data-toggle="modal" data-target="#freeze-card">Freeze</button>
                                                <button type="button" data-toggle="modal" data-target="#cancel-card">Cancel</button>
                                                <button type="button">See Card Transaction</button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr><td colspan="8"></td></tr>
                                <tr>
                                    <td>
                                        <div class="card flex-lc">
                                            <div class="img"><img src="./assets/img/card-4.svg" alt=""></div>
                                            <div class="name txt-sm font-weight-medium">xxx.4576</div>
                                        </div>
                                    </td>
                                    <td><div class="name">Nguyễn Trung Quân</div></td>
                                    <td>$4,000,000</td>
                                    <td><div class="status activated">Activated</div></td>
                                    <td>---</td>
                                    <td>---</td>
                                    <td><span class="recharge txt-sm font-weight-bold">Recharge</span></td>
                                    <td>
                                        <div class="navbar">
                                            <button type="button" data-toggle="dropdown" class="btn-view">View Details</button>
                                            <div class="dropdown-menu">
                                                <button type="button" data-toggle="modal" data-target="#card-detail">View Details</button>
                                                <button type="button" data-toggle="modal" data-target="#withdraw-usd">Withdraw USD</button>
                                                <button type="button" data-toggle="modal" data-target="#edit-card">Edit Card</button>
                                                <button type="button" data-toggle="modal" data-target="#freeze-card">Freeze</button>
                                                <button type="button" data-toggle="modal" data-target="#cancel-card">Cancel</button>
                                                <button type="button">See Card Transaction</button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr><td colspan="8"></td></tr>
                                <tr>
                                    <td>
                                        <div class="card flex-lc">
                                            <div class="img"><img src="./assets/img/card-4.svg" alt=""></div>
                                            <div class="name txt-sm font-weight-medium">xxx.4576</div>
                                        </div>
                                    </td>
                                    <td><div class="name">Nguyễn Trung Quân</div></td>
                                    <td>$4,000,000</td>
                                    <td><div class="status freeze">Freeze</div></td>
                                    <td>---</td>
                                    <td>---</td>
                                    <td><span class="recharge txt-sm font-weight-bold">Recharge</span></td>
                                    <td>
                                        <div class="navbar">
                                            <button type="button" data-toggle="dropdown" class="btn-view">View Details</button>
                                            <div class="dropdown-menu">
                                                <button type="button" data-toggle="modal" data-target="#card-detail">View Details</button>
                                                <button type="button" data-toggle="modal" data-target="#withdraw-usd">Withdraw USD</button>
                                                <button type="button" data-toggle="modal" data-target="#edit-card">Edit Card</button>
                                                <button type="button" data-toggle="modal" data-target="#freeze-card">Freeze</button>
                                                <button type="button" data-toggle="modal" data-target="#cancel-card">Cancel</button>
                                                <button type="button">See Card Transaction</button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr><td colspan="8"></td></tr>
                                <tr>
                                    <td>
                                        <div class="card flex-lc">
                                            <div class="img"><img src="./assets/img/card-4.svg" alt=""></div>
                                            <div class="name txt-sm font-weight-medium">xxx.4576</div>
                                        </div>
                                    </td>
                                    <td><div class="name">Nguyễn Trung Quân</div></td>
                                    <td>$4,000,000</td>
                                    <td><div class="status activated">Activated</div></td>
                                    <td>---</td>
                                    <td>---</td>
                                    <td><span class="recharge txt-sm font-weight-bold">Recharge</span></td>
                                    <td>
                                        <div class="navbar">
                                            <button type="button" data-toggle="dropdown" class="btn-view">View Details</button>
                                            <div class="dropdown-menu">
                                                <button type="button" data-toggle="modal" data-target="#card-detail">View Details</button>
                                                <button type="button" data-toggle="modal" data-target="#withdraw-usd">Withdraw USD</button>
                                                <button type="button" data-toggle="modal" data-target="#edit-card">Edit Card</button>
                                                <button type="button" data-toggle="modal" data-target="#freeze-card">Freeze</button>
                                                <button type="button" data-toggle="modal" data-target="#cancel-card">Cancel</button>
                                                <button type="button">See Card Transaction</button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr><td colspan="8"></td></tr>
                                <tr>
                                    <td>
                                        <div class="card flex-lc">
                                            <div class="img"><img src="./assets/img/card-4.svg" alt=""></div>
                                            <div class="name txt-sm font-weight-medium">xxx.4576</div>
                                        </div>
                                    </td>
                                    <td><div class="name">Nguyễn Trung Quân</div></td>
                                    <td>$4,000,000</td>
                                    <td><div class="status canced">Cancelled</div></td>
                                    <td>---</td>
                                    <td>---</td>
                                    <td><span class="recharge txt-sm font-weight-bold">Recharge</span></td>
                                    <td>
                                        <div class="navbar">
                                            <button type="button" data-toggle="dropdown" class="btn-view">View Details</button>
                                            <div class="dropdown-menu">
                                                <button type="button" data-toggle="modal" data-target="#card-detail">View Details</button>
                                                <button type="button" data-toggle="modal" data-target="#withdraw-usd">Withdraw USD</button>
                                                <button type="button" data-toggle="modal" data-target="#edit-card">Edit Card</button>
                                                <button type="button" data-toggle="modal" data-target="#freeze-card">Freeze</button>
                                                <button type="button" data-toggle="modal" data-target="#cancel-card">Cancel</button>
                                                <button type="button">See Card Transaction</button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr><td colspan="8"></td></tr>
                                <tr>
                                    <td>
                                        <div class="card flex-lc">
                                            <div class="img"><img src="./assets/img/card-4.svg" alt=""></div>
                                            <div class="name txt-sm font-weight-medium">xxx.4576</div>
                                        </div>
                                    </td>
                                    <td><div class="name">Nguyễn Trung Quân</div></td>
                                    <td>$4,000,000</td>
                                    <td><div class="status canced">Cancelled</div></td>
                                    <td>---</td>
                                    <td>---</td>
                                    <td><span class="recharge txt-sm font-weight-bold">Recharge</span></td>
                                    <td>
                                        <div class="navbar">
                                            <button type="button" data-toggle="dropdown" class="btn-view">View Details</button>
                                            <div class="dropdown-menu">
                                                <button type="button" data-toggle="modal" data-target="#card-detail">View Details</button>
                                                <button type="button" data-toggle="modal" data-target="#withdraw-usd">Withdraw USD</button>
                                                <button type="button" data-toggle="modal" data-target="#edit-card">Edit Card</button>
                                                <button type="button" data-toggle="modal" data-target="#freeze-card">Freeze</button>
                                                <button type="button" data-toggle="modal" data-target="#cancel-card">Cancel</button>
                                                <button type="button">See Card Transaction</button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="box-pagination flex-center">
                        <div class="box-select txt-xs">
                            <select name="">
                                <option>10 line/page</option>
                                <option>20 line/page</option>
                            </select>
                        </div>
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="#"><i class="icon icon-prev"></i></a></li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#"><i class="icon icon-next"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal xs fade" id="create-card">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal"></button>
            <h2 class="title">Create New Card</h2>
            <form action="" method="" class="modal-form">
                <div class="form-group flex">
                    <label class="txt-sm">Card type</label>
                    <div class="content">
                        <input type="text" value="MasterCard HongKong" class="font-weight-medium border-0 p-0" readonly>
                    </div>
                </div>
                <div class="form-group flex">
                    <label class="txt-sm">Card Holder Name</label>
                    <div class="content">
                        <input type="text" name="name" placeholder="Name">
                    </div>
                </div>
                <div class="form-group flex">
                    <label class="txt-sm">Initial Amount</label>
                    <div class="content">
                        <div class="border flex-lc justify-content-between">
                            <input type="text" name="amount" placeholder="00.00">
                            <span>USD</span>
                        </div>
                        <div class="note mt-0">Your wallet balance is insufficient to recharge</div>
                    </div>
                </div>
                <div class="form-group flex">
                    <label class="txt-sm">Maximum amount of a transaction</label>
                    <div class="content">
                        <div class="border flex justify-content-between">
                            <input type="text" name="amount" placeholder="00.00">
                            <span>USD</span>
                        </div>
                    </div>
                </div>
                <div class="box-btn flex">
                    <button type="button" class="btn-cancel" data-dismiss="modal">CANCEL</button>
                    <button type="button" class="btn-pr btn-create-card flex-center" data-dismiss="modal">CREATE NEW CARD</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal md fade" id="card-detail">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal"></button>
            <h2 class="title">Card details</h2>
            <div class="flex-lc justify-content-between">
                <p class="txt-sm gray">USD Card Balance: <span class="font-weight-bold">xxx,xxx USD</span></p>
                <button type="button" class="btn-copy txt-sm font-weight-medium" data-dismiss="modal">Copy Information</button>
            </div>
            <div class="card flex pr">
                <div class="card__front pr">
                    <div class="img"><img src="./assets/img/card-front.svg" alt=""></div>
                    <div class="info txt-sm">
                        <p>0000 1234 5678 6666</p>
                        <p>08/23-08/28</p>
                        <p>Nguyen Van A</p>
                    </div>
                </div>
                <div class="card__after pr">
                    <div class="img"><img src="./assets/img/card-after.svg" alt=""></div>
                    <div class="info txt-sm">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal sm fade" id="withdraw-usd">
    <div class="modal-dialog" role="document">
        <div class="modal-content px">
            <button type="button" class="close" data-dismiss="modal"></button>
            <h2 class="title">Withdraw USD from Card</h2>
            <form action="" method="" class="modal-form">
                <div class="form-group flex">
                    <label class="txt-sm">Withdraw from card ID</label>
                    <div class="content">
                        <input type="text" value="12345XXXX" class="font-weight-medium border-0 p-0" readonly>
                    </div>
                </div>
                <div class="form-group flex">
                    <label class="txt-sm">Amount to withdraw</label>
                    <div class="content">
                        <input type="number" name="" placeholder="00.00">
                        <div class="mt-2 font-italic txt-xs">Your current USD Card Balance is xx,xxx.xx USD</div>
                    </div>
                </div>
                <div class="box-btn flex">
                    <button type="button" class="btn-pr flex-center w-100" data-dismiss="modal">WITHDRAW</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal sm fade" id="recharge">
    <div class="modal-dialog" role="document">
        <div class="modal-content px">
            <button type="button" class="close" data-dismiss="modal"></button>
            <h2 class="title">Recharge Card from USD Balance</h2>
            <form action="" method="" class="modal-form">
                <div class="form-group flex">
                    <label class="txt-sm">Recharge Amount</label>
                    <div class="content">
                        <input type="number" name="" placeholder="00.00">
                        <div class="mt-2 font-italic txt-xs">Your current USD Card Balance is xx,xxx.xx USD</div>
                    </div>
                </div>
                <div class="box-note">
                    <h4>Note</h4>
                    <div class="content txt-sm w-100">In some cases, the platform may charge additional fees for your transaction. Therefore, to avoid unsuccessful transactions due to insufficient verification of the amount, we recommend that you transfer an amount larger than the actual transaction amount. If your balance is not sufficient, please exchange VND to USD here.</div>
                </div>
                <div class="box-btn flex">
                    <button type="button" class="btn-pr flex-center w-100" data-dismiss="modal">RECHARGE CARD</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal sm fade" id="freeze-card">
    <div class="modal-dialog" role="document">
        <div class="modal-content px">
            <button type="button" class="close" data-dismiss="modal"></button>
            <h2 class="title">Do you want to freeze  your Card?</h2>
            <div class="txt-sm py-3">
                Your card will be frozen and can not be used for payment until you unfreeze it. Please press Confirm to freeze your card.
            </div>
            <div class="box-btn flex">
                <button type="button" class="btn-cancel" data-dismiss="modal">CANCEL</button>
                <button type="button" class="btn-pr flex-center" data-dismiss="modal">CONFIRM</button>
            </div>
        </div>
    </div>
</div>
<div class="modal xs fade" id="cancel-card">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal"></button>
            <h2 class="title">Do you want to cancel your card?</h2>
            <div class="txt-sm py-3">
                After the card is canceled, it cannot be used for any payments, and all subsequent transactions will be unsuccessful. Please ensure that it has been unlinked from any relevant platforms before canceling the card.
                Please press the Confirm button to cancel the card.
            </div>
            <div class="box-btn flex">
                <button type="button" class="btn-cancel" data-dismiss="modal">CANCEL</button>
                <button type="button" class="btn-pr flex-center" data-dismiss="modal">CONFIRM</button>
            </div>
        </div>
    </div>
</div>
<div class="modal md fade" id="edit-card">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal"></button>
            <h2 class="title">Edit Card</h2>
            <form action="" method="" class="modal-form">
                <div class="form-group flex">
                    <label class="txt-sm">Card type</label>
                    <div class="content">
                        <input type="text" value="MasterCard HongKong" class="bg-gray gray-1" readonly>
                    </div>
                </div>
                <div class="form-group flex">
                    <label class="txt-sm">Card Holder Name</label>
                    <div class="content">
                        <input type="text" name="name" value="Ethan Nguyen">
                    </div>
                </div>
                <div class="form-group flex">
                    <label class="txt-sm">Initial Amount</label>
                    <div class="content">
                        <div class="border flex-lc justify-content-between bg-gray">
                            <input type="text" name="amount" value="100" readonly>
                            <span>USD</span>
                        </div>
                    </div>
                </div>
                <div class="form-group flex">
                    <label class="txt-sm">Maximum amount of a transaction</label>
                    <div class="content">
                        <div class="border flex justify-content-between">
                            <input type="text" name="amount" value="1.000">
                            <span>USD</span>
                        </div>
                    </div>
                </div>
                <div class="form-group flex">
                    <label class="txt-sm">Note</label>
                    <textarea>

                    </textarea>
                </div>
                <div class="box-btn flex">
                    <button type="button" class="btn-cancel" data-dismiss="modal">CANCEL</button>
                    <button type="button" class="btn-pr btn-edit-card flex-center" data-dismiss="modal">Confirm</button>
                </div>
            </form>
        </div>
    </div>
</div>