<div class="main flex">
    {% include "../share/sidebar.html" %}
    <div class="main-content">
        {% include "../share/account.html" %}
        <div class="col-sys flex">
            <div class="col-full">
                <div class="profile">
                    <div class="kyc-level mb-sm">
                        <h2 class="title">KYC level</h2>
                        <div class="bg-white">
                            <div class="box-level pr">
                                <ul class="level flex pr">
                                    <li class="active">
                                        <div class="icon"><img src="./assets/img/big-money.svg" alt=""></div>
                                        <div class="txt-sm">Level 1 </div>
                                    </li>
                                    <li>
                                        <div class="txt-sm">Level 2</div>
                                        <div class="box-note txt-xs font-weight-medium">Customer who have not completed KYC level 2 will only be able to Top up money - won’t be able to exchange, withdraw money</div>
                                    </li>
                                    <li>
                                        <div class="txt-sm">Level 3 </div>
                                    </li>
                                </ul>
                                <div class="progress">
                                    <div class="progress__value" style="width: 50%;"></div>
                                </div>
                            </div>
                            <a href="" title="Start KYC level 2" class="btn-start-kyc txt-sm font-weight-bold flex-center">Start KYC level 2</a>
                        </div>
                    </div>
                    <div class="settings mb-sm">
                        <h2 class="title">Settings</h2>
                        <div class="bg-white">
                            <ul class="setting-list">
                                <li>
                                    <h5>Name</h5>
                                    <p class="txt-sm font-weight-medium">DANG MINH HOANG</p>
                                </li>
                                <li>
                                    <h5>Date of birth</h5>
                                    <p class="txt-sm">20/12/1999</p>
                                </li>
                                <li>
                                    <h5>Email</h5>
                                    <p class="txt-sm">antelopee@thehumaninc.com</p>
                                    <button type="button" class="btn-edit flex-center"><i class="icon icon-edit"></i></button>
                                </li>
                                <li>
                                    <h5>Phone number </h5>
                                    <p class="txt-sm">0997272111</p>
                                    <button type="button" class="btn-edit flex-center"><i class="icon icon-edit"></i></button>
                                </li>
                                <li>
                                    <h5>Password</h5>
                                    <p class="txt-sm">Last modified: Sep 05, 2023 </p>
                                    <button type="button" class="btn-edit flex-center"><i class="icon icon-edit"></i></button>
                                </li>
                                <li>
                                    <h5>Notification setting</h5>
                                    <p class="txt-sm">20/12/1999</p>
                                    <button type="button" class="btn-edit flex-center"><i class="icon icon-edit"></i></button>
                                </li>
                                <li>
                                    <h5>Two-factor authentication</h5>
                                    <p class="txt-sm">20/12/1999</p>
                                    <label class="switch">
                                        <input type="checkbox">
                                        <span class="slider round"></span>
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="bank-account">
                        <div class="flex-lc mb-sm">
                            <h2 class="title mb-0">Bank Account</h2>
                            <div class="status flex-lc pending ml-3 mr-1">
                                <div class="icon"><img src="./assets/img/icon-clock.svg" alt=""></div>
                                <div class="txt font-weight-bold">Pending</div>
                            </div>
                            <button type="button" class="btn-edit flex-center"><i class="icon icon-edit"></i></button>
                        </div>
                        <ul class="info">
                            <li>
                                <h5>Bank name</h5>
                                <p class="txt-sm">VIB</p>
                            </li>
                            <li>
                                <h5>Account number</h5>
                                <p class="txt-sm">**** **** **** ****</p>
                            </li>
                        </ul>
                        <button type="button" class="btn-sb txt-sm" data-toggle="modal" data-target="#withdraw">WITHDRAW</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="edit-bank-account">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal"></button>
            <h2 class="title">Edit Bank Account</h2>
            <form action="" method="" class="form-wp pr">
                <div class="form-group">
                    <label class="txt-sm">Bank account </label>
                    <select name="" class="select2-min">
                        <option value="">BIDV</option>
                        <option value="">VPBank</option>
                        <option value="">MBBank</option>
                        <option value="">Viettinbank</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="txt-sm">Account holder name </label>
                    <input type="text" name="" value="Vuong Thu Trang" class="font-weight-medium" placeholder="">
                </div>
                <div class="form-group">
                    <label class="txt-sm">Bank account number </label>
                    <input type="number" name="" value="012345678" class="font-weight-medium" placeholder="">
                </div>
                <div class="form-group">
                    <label class="txt-sm">Re-enter bank account number </label>
                    <input type="number" name="" value="012345678" class="font-weight-medium" placeholder="">
                </div>
                <div class="box-btn flex">
                    <button type="button" class="btn-cancel" data-dismiss="modal">CANCEL</button>
                    <button type="button" class="btn-pr btn-invite flex-center" data-dismiss="modal">SUBMIT</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="withdraw">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal"></button>
            <h2 class="title">Withdraw VND</h2>
            <ul class="tab nav">
                <li><a href="#koala-balance" title="" data-toggle="tab" class="active txt-sm">Koala Balance</a></li>
                <li><a href="#wealify-balance" title="" data-toggle="tab" class="txt-sm">Wealify Balance</a></li>
            </ul>
            <div class="tab-content">
                <div id="koala-balance" class="tab-pane fade show active">
                    <form action="" method="" class="modal-form">
                        <div class="form-group flex">
                            <label class="txt-sm">Koala Balance VND</label>
                            <div class="content">
                                <input type="text" value="466,798 VND" class="font-weight-medium border-0 p-0" readonly="">
                            </div>
                        </div>
                        <div class="form-group flex">
                            <label class="txt-sm">Amount of VND need for withdraw</label>
                            <div class="content">
                                <div class="border flex-lc justify-content-between">
                                    <input type="text" name="amount" value="427,000">
                                    <span>VND</span>
                                </div>
                                <div class="note mt-0">Your wallet balance is insufficient. Please enter an amount that is less than or equal to your VND balance.</div>
                            </div>
                        </div>
                        <div class="form-group flex-lc">
                            <label class="txt-sm">Withdraw fee</label>
                            <div class="content">
                                <div class="border flex-lc justify-content-between">
                                    <input type="text" name="amount" value="12,500">
                                    <span>VND</span>
                                </div>
                                <div class="note mt-0">Withdraw fee is 3% of the total value</div>
                            </div>
                        </div>
                        <div class="form-group flex-lc">
                            <label class="txt-sm">Amount of VND you get</label>
                            <div class="content">
                                <div class="border flex-lc justify-content-between">
                                    <input type="text" name="amount" value="345,000">
                                    <span>VND</span>
                                </div>
                            </div>
                        </div>
                        <fieldset class="mt-4">
                            <h3 class="txt-sm font-weight-bold mb-3">Your bank account</h3>
                            <div class="form-group flex">
                                <label class="txt-sm">Bank account</label>
                                <div class="content">
                                    <input type="text" value="BIDV" class="font-weight-medium border-0 p-0" readonly="">
                                </div>
                            </div>
                            <div class="form-group flex">
                                <label class="txt-sm">Bank account number</label>
                                <div class="content">
                                    <input type="number" value="012345678" class="font-weight-medium border-0 p-0" readonly="">
                                </div>
                            </div>
                            <div class="form-group flex">
                                <label class="txt-sm">Account name</label>
                                <div class="content">
                                    <input type="text" value="Vuong Thu Trang" class="font-weight-medium border-0 p-0" readonly="">
                                </div>
                            </div>
                        </fieldset>
                        <div class="box-btn box-btn--cs flex">
                            <button type="button" class="btn-sb flex-center" data-toggle="modal" data-target="#order-detail-withdraw" data-dismiss="modal">WITHDRAW</button>
                            <button type="button" class="btn-pr flex-center" data-dismiss="modal">CANCEL</button>
                        </div>
                    </form>
                </div>
                <div id="wealify-balance" class="tab-pane fade">
                    <form action="" method="" class="modal-form">
                        <div class="form-group flex">
                            <label class="txt-sm">Wealify Balance VND</label>
                            <div class="content">
                                <input type="text" value="466,798 VND" class="font-weight-medium border-0 p-0" readonly="">
                            </div>
                        </div>
                        <div class="form-group flex">
                            <label class="txt-sm">Amount of VND need for withdraw</label>
                            <div class="content">
                                <div class="border flex-lc justify-content-between">
                                    <input type="text" name="amount" value="427,000">
                                    <span>VND</span>
                                </div>
                                <div class="note mt-0">Your wallet balance is insufficient. Please enter an amount that is less than or equal to your VND balance.</div>
                            </div>
                        </div>
                        <div class="form-group flex-lc">
                            <label class="txt-sm">Withdraw fee</label>
                            <div class="content">
                                <div class="border flex-lc justify-content-between">
                                    <input type="text" name="amount" value="12,500">
                                    <span>VND</span>
                                </div>
                                <div class="note mt-0">Withdraw fee is 3% of the total value</div>
                            </div>
                        </div>
                        <div class="form-group flex-lc">
                            <label class="txt-sm">Amount of VND you get</label>
                            <div class="content">
                                <div class="border flex-lc justify-content-between">
                                    <input type="text" name="amount" value="345,000">
                                    <span>VND</span>
                                </div>
                            </div>
                        </div>
                        <fieldset class="mt-4">
                            <h3 class="txt-sm font-weight-bold mb-3">Your bank account</h3>
                            <div class="form-group flex">
                                <label class="txt-sm">Bank account</label>
                                <div class="content">
                                    <input type="text" value="BIDV" class="font-weight-medium border-0 p-0" readonly="">
                                </div>
                            </div>
                            <div class="form-group flex">
                                <label class="txt-sm">Bank account number</label>
                                <div class="content">
                                    <input type="number" value="012345678" class="font-weight-medium border-0 p-0" readonly="">
                                </div>
                            </div>
                            <div class="form-group flex">
                                <label class="txt-sm">Account name</label>
                                <div class="content">
                                    <input type="text" value="Vuong Thu Trang" class="font-weight-medium border-0 p-0" readonly="">
                                </div>
                            </div>
                        </fieldset>
                        <div class="box-btn box-btn--cs flex">
                            <button type="button" class="btn-sb flex-center" data-toggle="modal" data-target="#order-detail-withdraw" data-dismiss="modal">WITHDRAW</button>
                            <button type="button" class="btn-pr flex-center" data-dismiss="modal">CANCEL</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="order-detail-withdraw">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal"></button>
            <h2 class="title">Order details</h2>
            <div class="notifi txt-sm">Withdraw Order xxxxxxx has been successfully created and is expected to be completed within 2 hours. Please check the status in the Transaction List.</div>
            <div class="detail-info">
                <div class="item flex-lc">
                    <h4 class="txt-sm">Amount of VND need for withdraw</h4>
                    <div class="txt-sm font-weight-medium">427,000  VND</div>
                </div>
                <div class="item flex-lc">
                    <h4 class="txt-sm">Withdraw fee</h4>
                    <div class="txt-sm font-weight-medium">12,500  VND</div>
                </div>
                <div class="item flex-lc">
                    <h4 class="txt-sm">Amount of VND you get</h4>
                    <div class="txt-sm font-weight-medium">432,000 VND</div>
                </div>
            </div>
            <div class="box-btn flex">
                <button type="button" class="btn-pr flex-center" data-dismiss="modal">DONE</button>
            </div>
        </div>
    </div>
</div>
