<div class="main flex">
    {% include "../share/sidebar.html" %}
    <div class="main-content">
        {% include "../share/account.html" %}
        <div class="col-sys flex">
            <div class="col-full white">
                <div class="content">
                    <div class="transaction bg-col">
                        <h2 class="title">Transaction History </h2>
                        <ul class="tab nav">
                            <li><a href="#all" data-toggle="tab" class="txt-sm active">ALL</a></li>
                            <li><a href="#card" data-toggle="tab" class="txt-sm">CARD</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="all" class="tab-pane fade show active">
                                <div class="box-filter flex-lc">
                                    <div class="box-select flex-lc flex-nowrap">
                                        <div class="select-date flex-lc">
                                            <input type="text" name="" class="datepicker">
                                        </div>
                                        <div class="space">to</div>
                                        <div class="select-date flex-lc">
                                            <input type="text" name="" class="datepicker">
                                        </div>
                                    </div>
                                    <div class="box-select">
                                        <select name="" class="select2-min">
                                            <option value="">Operation</option>
                                            <option value="">Top up</option>
                                            <option value="">Withdraw</option>
                                            <option value="">Exchange USD - VND</option>
                                            <option value="">Exchange VND - USD</option>
                                            <option value="">Recharge Card</option>
                                            <option value="">Withdraw USD from Card</option>
                                            <option value="">Consumption</option>
                                            <option value="">Refund</option>
                                        </select>
                                    </div>
                                    <div class="box-select">
                                        <select name="" class="select2-min">
                                            <option>Status</option>
                                            <option>Success</option>
                                            <option>Pending</option>
                                            <option>Failed</option>
                                            <option>Processing in 2 hours </option>
                                        </select>
                                    </div>
                                    <form method="" action="" class="form-search">
                                        <input type="text" name="" placeholder="Search for transactions">
                                    </form>
                                </div>
                                <div class="flex justify-content-end">
                                    <button type="button" class="btn-export btn-pr flex-center txt-sm"><i class="icon icon-send"></i><span>EXPORT FILE</span></button>
                                </div>
                                <div class="box-table">
                                    <table>
                                        <thead>
                                        <tr>
                                            <th>Type</th>
                                            <th>Transaction Time</th>
                                            <th>Transaction Type</th>
                                            <th>User </th>
                                            <th>Transaction Name</th>
                                            <th>Transaction ID</th>
                                            <th>Transaction  Amount</th>
                                            <th>Status </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td><div class="icon"><img src="./assets/img/money-bag.svg" alt=""></div></td>
                                            <td>20/12/2023 12:20</td>
                                            <td>Top up</td>
                                            <td>Trangtv. Admin </td>
                                            <td>Top up to Wealify Balance </td>
                                            <td>12345678</td>
                                            <td>+500,000 VND </td>
                                            <td class="status pending">Pending</td>
                                        </tr>
                                        <tr>
                                            <td><div class="icon"><img src="./assets/img/money-bag.svg" alt=""></div></td>
                                            <td>20/12/2023 12:20</td>
                                            <td>Top up</td>
                                            <td>Trangtv. Admin </td>
                                            <td>Top up to Wealify Balance </td>
                                            <td>12345678</td>
                                            <td>+500,000 VND </td>
                                            <td class="status success">Success</td>
                                        </tr>
                                        <tr>
                                            <td><div class="icon"><img src="./assets/img/send.svg" alt=""></div></td>
                                            <td>20/12/2023 12:20</td>
                                            <td>Withdraw </td>
                                            <td>Trangtv. Admin </td>
                                            <td>Withdraw from Koala Balance</td>
                                            <td>12345678</td>
                                            <td>-500,000 VND </td>
                                            <td class="status failed">Failed</td>
                                        </tr>
                                        <tr>
                                            <td><div class="icon"><img src="./assets/img/send.svg" alt=""></div></td>
                                            <td>20/12/2023 12:20</td>
                                            <td>Exchange VND-USD</td>
                                            <td>Trangtv. Admin </td>
                                            <td>Exchange VND-USD from Koala Balance</td>
                                            <td>12345678</td>
                                            <td>-500,000 VND </td>
                                            <td class="status processing">Processing in 2 hours </td>
                                        </tr>
                                        <tr>
                                            <td><div class="icon"><img src="./assets/img/card-1.svg" alt=""></div></td>
                                            <td>20/12/2023 12:20</td>
                                            <td>Consumption </td>
                                            <td>Trangtv. Admin </td>
                                            <td>Exchange VND-USD from Koala Balance</td>
                                            <td>12345678</td>
                                            <td>-500,000 VND </td>
                                            <td class="status success">Success</td>
                                        </tr>
                                        <tr>
                                            <td><div class="icon"><img src="./assets/img/card-1.svg" alt=""></div></td>
                                            <td>20/12/2023 12:20</td>
                                            <td>Consumption </td>
                                            <td>Trangtv. Admin </td>
                                            <td>Exchange VND-USD from Koala Balance</td>
                                            <td>12345678</td>
                                            <td>-500,000 VND </td>
                                            <td class="status success">Success</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div id="card" class="tab-pane fade">
                                <div class="box-filter flex-lc">
                                    <form method="" action="" class="form-search ml-0">
                                        <input type="text" name="" placeholder="Search card name or last 4 digits">
                                    </form>
                                    <div class="box-select flex-lc">
                                        <div class="select-date flex-lc">
                                            <input type="text" name="" class="datepicker">
                                        </div>
                                        <div class="space">to</div>
                                        <div class="select-date flex-lc">
                                            <input type="text" name="" class="datepicker">
                                        </div>
                                    </div>
                                    <div class="box-select">
                                        <select name="" class="select2-min">
                                            <option value="">Operation</option>
                                            <option value="">Top up</option>
                                            <option value="">Withdraw</option>
                                            <option value="">Exchange USD - VND</option>
                                            <option value="">Exchange VND - USD</option>
                                            <option value="">Recharge Card</option>
                                            <option value="">Withdraw USD from Card</option>
                                            <option value="">Consumption</option>
                                            <option value="">Refund</option>
                                        </select>
                                    </div>
                                    <div class="box-select">
                                        <select name="" class="select2-min">
                                            <option>Status</option>
                                            <option>Success</option>
                                            <option>Pending</option>
                                            <option>Failed</option>
                                            <option>Processing in 2 hours </option>
                                        </select>
                                    </div>
                                    <form method="" action="" class="form-search">
                                        <input type="text" name="" placeholder="Search for transactions">
                                    </form>
                                </div>
                                <div class="flex justify-content-end">
                                    <button type="button" class="btn-export btn-pr flex-center txt-sm"><i class="icon icon-send"></i><span>EXPORT FILE</span></button>
                                </div>
                                <div class="box-table">
                                    <table>
                                        <thead>
                                        <tr>
                                            <th>Card number</th>
                                            <th>Card holder</th>
                                            <th>Transaction Time</th>
                                            <th>Transaction Type </th>
                                            <th>Trans Merchant Name</th>
                                            <th>Trans Merchant ID</th>
                                            <th>Transaction  Amount</th>
                                            <th>Status</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>
                                                <div class="card flex-lc">
                                                    <div class="img"><img src="./assets/img/card-5.svg" alt=""></div>
                                                    <div class="name txt-sm font-weight-medium">xxx.3456</div>
                                                </div>
                                            </td>
                                            <td>Trangvt</td>
                                            <td>20/12/2023 12:20</td>
                                            <td>Consumption</td>
                                            <td>*NETFLIX 12345678* </td>
                                            <td>12345678</td>
                                            <td><strong>-50 USD</strong></td>
                                            <td class="status success">Success</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="card flex-lc">
                                                    <div class="img"><img src="./assets/img/card-5.svg" alt=""></div>
                                                    <div class="name txt-sm font-weight-medium">xxx.3456</div>
                                                </div>
                                            </td>
                                            <td>Trangvt</td>
                                            <td>20/12/2023 12:20</td>
                                            <td>Consumption</td>
                                            <td>*NETFLIX 12345678* </td>
                                            <td>12345678</td>
                                            <td><strong>-50 USD</strong></td>
                                            <td class="status failed">Failed</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="card flex-lc">
                                                    <div class="img"><img src="./assets/img/card-5.svg" alt=""></div>
                                                    <div class="name txt-sm font-weight-medium">xxx.3456</div>
                                                </div>
                                            </td>
                                            <td>Trangvt</td>
                                            <td>20/12/2023 12:20</td>
                                            <td>Withdraw USD from Card </td>
                                            <td></td>
                                            <td>12345678</td>
                                            <td><strong>-50 USD</strong></td>
                                            <td class="status success">Success </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="card flex-lc">
                                                    <div class="img"><img src="./assets/img/card-5.svg" alt=""></div>
                                                    <div class="name txt-sm font-weight-medium">xxx.3456</div>
                                                </div>
                                            </td>
                                            <td>Trangvt</td>
                                            <td>20/12/2023 12:20</td>
                                            <td>Recharge Card</td>
                                            <td></td>
                                            <td>12345678</td>
                                            <td><strong>-50 USD</strong></td>
                                            <td class="status success">Success </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="card flex-lc">
                                                    <div class="img"><img src="./assets/img/card-5.svg" alt=""></div>
                                                    <div class="name txt-sm font-weight-medium">xxx.3456</div>
                                                </div>
                                            </td>
                                            <td>Trangvt</td>
                                            <td>20/12/2023 12:20</td>
                                            <td>Consumption</td>
                                            <td>*NETFLIX 12345678* </td>
                                            <td>12345678</td>
                                            <td><strong>+50 USD</strong></td>
                                            <td class="status success">Success </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="card flex-lc">
                                                    <div class="img"><img src="./assets/img/card-5.svg" alt=""></div>
                                                    <div class="name txt-sm font-weight-medium">xxx.3456</div>
                                                </div>
                                            </td>
                                            <td>Trangvt</td>
                                            <td>20/12/2023 12:20</td>
                                            <td>Consumption</td>
                                            <td>*NETFLIX 12345678* </td>
                                            <td>12345678</td>
                                            <td><strong>+50 USD</strong></td>
                                            <td class="status success">Success </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="card flex-lc">
                                                    <div class="img"><img src="./assets/img/card-5.svg" alt=""></div>
                                                    <div class="name txt-sm font-weight-medium">xxx.3456</div>
                                                </div>
                                            </td>
                                            <td>Trangvt</td>
                                            <td>20/12/2023 12:20</td>
                                            <td>Consumption</td>
                                            <td>*NETFLIX 12345678* </td>
                                            <td>12345678</td>
                                            <td><strong>+50 USD</strong></td>
                                            <td class="status success">Success </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-pagination flex-center">
                        <div class="box-select txt-xs">
                            <select name="">
                                <option>10 line/page</option>
                                <option>20 line/page</option>
                            </select>
                        </div>
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="#"><i class="icon icon-prev"></i></a></li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#"><i class="icon icon-next"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>