<div class="main flex">
    {% include "../share/sidebar.html" %}
    <div class="main-content">
        {% include "../share/account.html" %}
        <div class="col-sys flex">
            <div class="col-full white">
                <div class="content">
                    <div class="users bg-col">
                        <h2 class="title">Users / Role and Permissions</h2>
                        <ul class="tab nav lg">
                            <li><a href="#users" data-toggle="tab" class="txt-sm active">USERS</a></li>
                            <li><a href="#role" data-toggle="tab" class="txt-sm">ROLE AND PERMISSIONS</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="users" class="tab-pane fade show active">
                                <div class="flex-lc pt-2 pb-4">
                                    <form method="" action="" class="form-search flex-grow-1">
                                        <input type="text" name="" placeholder="Search by name or email">
                                    </form>
                                    <button type="button" class="btn-adduser btn-pr flex-center txt-sm" data-toggle="modal" data-target="#invite-user"><i class="icon icon-user"></i><span>NEW USER (s)</span></button>
                                </div>
                                <div class="box-table">
                                    <table>
                                        <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Roles</th>
                                            <th>Email</th>
                                            <th>Joined Date</th>
                                            <th>Status</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td><b>Devon Lane</b></td>
                                            <td>Admin</td>
                                            <td>john.jacob@gmail.com</td>
                                            <td>18/09/2016</td>
                                            <td><span class="st active">Active</span></td>
                                            <td>
                                                <div class="navbar">
                                                    <button type="button" data-toggle="dropdown" class="btn-more"><i class="icon icon-more"></i></button>
                                                    <div class="dropdown-menu">
                                                        <button type="button" data-toggle="modal" data-target="#edit-user">Edit</button>
                                                        <button type="button">Delete</button>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><b>Devon Lane</b></td>
                                            <td>Admin</td>
                                            <td>john.jacob@gmail.com</td>
                                            <td>18/09/2016</td>
                                            <td><span class="st pending">Pending</span></td>
                                            <td>
                                                <div class="navbar">
                                                    <button type="button" data-toggle="dropdown" class="btn-more"><i class="icon icon-more"></i></button>
                                                    <div class="dropdown-menu">
                                                        <button type="button" data-toggle="modal" data-target="#edit-user">Edit</button>
                                                        <button type="button">Delete</button>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><b>Devon Lane</b></td>
                                            <td>Admin</td>
                                            <td>john.jacob@gmail.com</td>
                                            <td>18/09/2016</td>
                                            <td><span class="st active">Active</span></td>
                                            <td>
                                                <div class="navbar">
                                                    <button type="button" data-toggle="dropdown" class="btn-more"><i class="icon icon-more"></i></button>
                                                    <div class="dropdown-menu">
                                                        <button type="button" data-toggle="modal" data-target="#edit-user">Edit</button>
                                                        <button type="button">Delete</button>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><b>Devon Lane</b></td>
                                            <td>Admin</td>
                                            <td>john.jacob@gmail.com</td>
                                            <td>18/09/2016</td>
                                            <td><span class="st pending">Pending</span></td>
                                            <td>
                                                <div class="navbar">
                                                    <button type="button" data-toggle="dropdown" class="btn-more"><i class="icon icon-more"></i></button>
                                                    <div class="dropdown-menu">
                                                        <button type="button" data-toggle="modal" data-target="#edit-user">Edit</button>
                                                        <button type="button">Delete</button>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><b>Devon Lane</b></td>
                                            <td>Admin</td>
                                            <td>john.jacob@gmail.com</td>
                                            <td>18/09/2016</td>
                                            <td><span class="st active">Active</span></td>
                                            <td>
                                                <div class="navbar">
                                                    <button type="button" data-toggle="dropdown" class="btn-more"><i class="icon icon-more"></i></button>
                                                    <div class="dropdown-menu">
                                                        <button type="button" data-toggle="modal" data-target="#edit-user">Edit</button>
                                                        <button type="button">Delete</button>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><b>Devon Lane</b></td>
                                            <td>Admin</td>
                                            <td>john.jacob@gmail.com</td>
                                            <td>18/09/2016</td>
                                            <td><span class="st active">Active</span></td>
                                            <td>
                                                <div class="navbar">
                                                    <button type="button" data-toggle="dropdown" class="btn-more"><i class="icon icon-more"></i></button>
                                                    <div class="dropdown-menu">
                                                        <button type="button" data-toggle="modal" data-target="#edit-user">Edit</button>
                                                        <button type="button">Delete</button>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><b>Devon Lane</b></td>
                                            <td>Admin</td>
                                            <td>john.jacob@gmail.com</td>
                                            <td>18/09/2016</td>
                                            <td><span class="st active">Active</span></td>
                                            <td>
                                                <div class="navbar">
                                                    <button type="button" data-toggle="dropdown" class="btn-more"><i class="icon icon-more"></i></button>
                                                    <div class="dropdown-menu">
                                                        <button type="button" data-toggle="modal" data-target="#edit-user">Edit</button>
                                                        <button type="button">Delete</button>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div id="role" class="tab-pane fade">
                                <div class="box-table">
                                    <table>
                                        <thead>
                                        <tr>
                                            <th></th>
                                            <th>ADMIN</th>
                                            <th>MANAGER</th>
                                            <th>ACCOUNTANT</th>
                                            <th>CARD HOLDER</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td colspan="5"><b>Exchange money</b></td>
                                        </tr>
                                        <tr>
                                            <td>VND to USD</td>
                                            <td>
                                                <label class="check">
                                                    <input type="checkbox" checked>
                                                    <span class="checked"></span>
                                                </label>
                                            </td>
                                            <td>
                                                <label class="check">
                                                    <input type="checkbox" checked>
                                                    <span class="checked"></span>
                                                </label>
                                            </td>
                                            <td>
                                                <label class="check">
                                                    <input type="checkbox">
                                                    <span class="checked"></span>
                                                </label>
                                            </td>
                                            <td>
                                                <label class="check">
                                                    <input type="checkbox">
                                                    <span class="checked"></span>
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>VND to USD</td>
                                            <td>
                                                <label class="check">
                                                    <input type="checkbox" checked>
                                                    <span class="checked"></span>
                                                </label>
                                            </td>
                                            <td>
                                                <label class="check">
                                                    <input type="checkbox" checked>
                                                    <span class="checked"></span>
                                                </label>
                                            </td>
                                            <td>
                                                <label class="check">
                                                    <input type="checkbox">
                                                    <span class="checked"></span>
                                                </label>
                                            </td>
                                            <td>
                                                <label class="check">
                                                    <input type="checkbox">
                                                    <span class="checked"></span>
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="5"><b>Top up VND</b></td>
                                        </tr>
                                        <tr>
                                            <td>Top up VND</td>
                                            <td>
                                                <label class="check">
                                                    <input type="checkbox" checked>
                                                    <span class="checked"></span>
                                                </label>
                                            </td>
                                            <td>
                                                <label class="check">
                                                    <input type="checkbox" checked>
                                                    <span class="checked"></span>
                                                </label>
                                            </td>
                                            <td>
                                                <label class="check">
                                                    <input type="checkbox">
                                                    <span class="checked"></span>
                                                </label>
                                            </td>
                                            <td>
                                                <label class="check">
                                                    <input type="checkbox">
                                                    <span class="checked"></span>
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="5"><b>Withdraw VND</b></td>
                                        </tr>
                                        <tr>
                                            <td>Add Bank VND</td>
                                            <td>
                                                <label class="check">
                                                    <input type="checkbox" checked>
                                                    <span class="checked"></span>
                                                </label>
                                            </td>
                                            <td>
                                                <label class="check">
                                                    <input type="checkbox" checked>
                                                    <span class="checked"></span>
                                                </label>
                                            </td>
                                            <td>
                                                <label class="check">
                                                    <input type="checkbox">
                                                    <span class="checked"></span>
                                                </label>
                                            </td>
                                            <td>
                                                <label class="check">
                                                    <input type="checkbox">
                                                    <span class="checked"></span>
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Withdraw VND</td>
                                            <td>
                                                <label class="check">
                                                    <input type="checkbox" checked>
                                                    <span class="checked"></span>
                                                </label>
                                            </td>
                                            <td>
                                                <label class="check">
                                                    <input type="checkbox" checked>
                                                    <span class="checked"></span>
                                                </label>
                                            </td>
                                            <td>
                                                <label class="check">
                                                    <input type="checkbox" checked>
                                                    <span class="checked"></span>
                                                </label>
                                            </td>
                                            <td>
                                                <label class="check">
                                                    <input type="checkbox">
                                                    <span class="checked"></span>
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="5"><b>Card</b></td>
                                        </tr>
                                        <tr>
                                            <td>Create New Card</td>
                                            <td>
                                                <label class="check">
                                                    <input type="checkbox" checked>
                                                    <span class="checked"></span>
                                                </label>
                                            </td>
                                            <td>
                                                <label class="check">
                                                    <input type="checkbox" checked>
                                                    <span class="checked"></span>
                                                </label>
                                            </td>
                                            <td>
                                                <label class="check">
                                                    <input type="checkbox" checked>
                                                    <span class="checked"></span>
                                                </label>
                                            </td>
                                            <td>
                                                <label class="check">
                                                    <input type="checkbox">
                                                    <span class="checked"></span>
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>View detail Card</td>
                                            <td>
                                                <label class="check">
                                                    <input type="checkbox" checked>
                                                    <span class="checked"></span>
                                                </label>
                                            </td>
                                            <td>
                                                <label class="check">
                                                    <input type="checkbox" checked>
                                                    <span class="checked"></span>
                                                </label>
                                            </td>
                                            <td>
                                                <label class="check">
                                                    <input type="checkbox">
                                                    <span class="checked"></span>
                                                </label>
                                            </td>
                                            <td>
                                                <label class="check">
                                                    <input type="checkbox">
                                                    <span class="checked"></span>
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Recharge</td>
                                            <td>
                                                <label class="check">
                                                    <input type="checkbox" checked>
                                                    <span class="checked"></span>
                                                </label>
                                            </td>
                                            <td>
                                                <label class="check">
                                                    <input type="checkbox" checked>
                                                    <span class="checked"></span>
                                                </label>
                                            </td>
                                            <td>
                                                <label class="check">
                                                    <input type="checkbox">
                                                    <span class="checked"></span>
                                                </label>
                                            </td>
                                            <td>
                                                <label class="check">
                                                    <input type="checkbox">
                                                    <span class="checked"></span>
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Withdraw</td>
                                            <td>
                                                <label class="check">
                                                    <input type="checkbox" checked>
                                                    <span class="checked"></span>
                                                </label>
                                            </td>
                                            <td>
                                                <label class="check">
                                                    <input type="checkbox" checked>
                                                    <span class="checked"></span>
                                                </label>
                                            </td>
                                            <td>
                                                <label class="check">
                                                    <input type="checkbox">
                                                    <span class="checked"></span>
                                                </label>
                                            </td>
                                            <td>
                                                <label class="check">
                                                    <input type="checkbox">
                                                    <span class="checked"></span>
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Edit Card Information</td>
                                            <td>
                                                <label class="check">
                                                    <input type="checkbox" checked>
                                                    <span class="checked"></span>
                                                </label>
                                            </td>
                                            <td>
                                                <label class="check">
                                                    <input type="checkbox" checked>
                                                    <span class="checked"></span>
                                                </label>
                                            </td>
                                            <td>
                                                <label class="check">
                                                    <input type="checkbox">
                                                    <span class="checked"></span>
                                                </label>
                                            </td>
                                            <td>
                                                <label class="check">
                                                    <input type="checkbox">
                                                    <span class="checked"></span>
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Suspense Card</td>
                                            <td>
                                                <label class="check">
                                                    <input type="checkbox" checked>
                                                    <span class="checked"></span>
                                                </label>
                                            </td>
                                            <td>
                                                <label class="check">
                                                    <input type="checkbox" checked>
                                                    <span class="checked"></span>
                                                </label>
                                            </td>
                                            <td>
                                                <label class="check">
                                                    <input type="checkbox">
                                                    <span class="checked"></span>
                                                </label>
                                            </td>
                                            <td>
                                                <label class="check">
                                                    <input type="checkbox">
                                                    <span class="checked"></span>
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>See Card Transaction</td>
                                            <td>
                                                <label class="check">
                                                    <input type="checkbox" checked>
                                                    <span class="checked"></span>
                                                </label>
                                            </td>
                                            <td>
                                                <label class="check">
                                                    <input type="checkbox" checked>
                                                    <span class="checked"></span>
                                                </label>
                                            </td>
                                            <td>
                                                <label class="check">
                                                    <input type="checkbox">
                                                    <span class="checked"></span>
                                                </label>
                                            </td>
                                            <td>
                                                <label class="check">
                                                    <input type="checkbox">
                                                    <span class="checked"></span>
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="5"><b>Transaction/Report</b></td>
                                        </tr>
                                        <tr>
                                            <td>Transaction/Report</td>
                                            <td>
                                                <label class="check">
                                                    <input type="checkbox" checked>
                                                    <span class="checked"></span>
                                                </label>
                                            </td>
                                            <td>
                                                <label class="check">
                                                    <input type="checkbox" checked>
                                                    <span class="checked"></span>
                                                </label>
                                            </td>
                                            <td>
                                                <label class="check">
                                                    <input type="checkbox">
                                                    <span class="checked"></span>
                                                </label>
                                            </td>
                                            <td>
                                                <label class="check">
                                                    <input type="checkbox">
                                                    <span class="checked"></span>
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="5"><b>Reply Pending Action</b></td>
                                        </tr>
                                        <tr>
                                            <td>Reply Pending Action</td>
                                            <td>
                                                <label class="check">
                                                    <input type="checkbox" checked>
                                                    <span class="checked"></span>
                                                </label>
                                            </td>
                                            <td>
                                                <label class="check">
                                                    <input type="checkbox" checked>
                                                    <span class="checked"></span>
                                                </label>
                                            </td>
                                            <td>
                                                <label class="check">
                                                    <input type="checkbox">
                                                    <span class="checked"></span>
                                                </label>
                                            </td>
                                            <td>
                                                <label class="check">
                                                    <input type="checkbox">
                                                    <span class="checked"></span>
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="5"><b>Account Setting</b></td>
                                        </tr>
                                        <tr>
                                            <td>Edit/view Account Detail</td>
                                            <td>
                                                <label class="check">
                                                    <input type="checkbox" checked>
                                                    <span class="checked"></span>
                                                </label>
                                            </td>
                                            <td>
                                                <label class="check">
                                                    <input type="checkbox" checked>
                                                    <span class="checked"></span>
                                                </label>
                                            </td>
                                            <td>
                                                <label class="check">
                                                    <input type="checkbox">
                                                    <span class="checked"></span>
                                                </label>
                                            </td>
                                            <td>
                                                <label class="check">
                                                    <input type="checkbox">
                                                    <span class="checked"></span>
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="5"><b>User And Permission</b></td>
                                        </tr>
                                        <tr>
                                            <td>View</td>
                                            <td>
                                                <label class="check">
                                                    <input type="checkbox" checked>
                                                    <span class="checked"></span>
                                                </label>
                                            </td>
                                            <td>
                                                <label class="check">
                                                    <input type="checkbox" checked>
                                                    <span class="checked"></span>
                                                </label>
                                            </td>
                                            <td>
                                                <label class="check">
                                                    <input type="checkbox">
                                                    <span class="checked"></span>
                                                </label>
                                            </td>
                                            <td>
                                                <label class="check">
                                                    <input type="checkbox">
                                                    <span class="checked"></span>
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Edit</td>
                                            <td>
                                                <label class="check">
                                                    <input type="checkbox" checked>
                                                    <span class="checked"></span>
                                                </label>
                                            </td>
                                            <td>
                                                <label class="check">
                                                    <input type="checkbox" checked>
                                                    <span class="checked"></span>
                                                </label>
                                            </td>
                                            <td>
                                                <label class="check">
                                                    <input type="checkbox" checked>
                                                    <span class="checked"></span>
                                                </label>
                                            </td>
                                            <td>
                                                <label class="check">
                                                    <input type="checkbox" checked>
                                                    <span class="checked"></span>
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Invite New User</td>
                                            <td>
                                                <label class="check">
                                                    <input type="checkbox" checked>
                                                    <span class="checked"></span>
                                                </label>
                                            </td>
                                            <td>
                                                <label class="check">
                                                    <input type="checkbox" checked>
                                                    <span class="checked"></span>
                                                </label>
                                            </td>
                                            <td>
                                                <label class="check">
                                                    <input type="checkbox">
                                                    <span class="checked"></span>
                                                </label>
                                            </td>
                                            <td>
                                                <label class="check">
                                                    <input type="checkbox" checked>
                                                    <span class="checked"></span>
                                                </label>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="flex justify-content-end mt-4">
                                    <button type="button" class="btn-pr">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-pagination flex-center">
                        <div class="box-select txt-xs">
                            <select name="">
                                <option>10 line/page</option>
                                <option>20 line/page</option>
                            </select>
                        </div>
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="#"><i class="icon icon-prev"></i></a></li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#"><i class="icon icon-next"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal xs fade" id="invite-user">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal"></button>
            <h2 class="title">Invite User</h2>
            <form action="" method="" class="form-wp pr">
                <div class="form-group">
                    <label class="txt-sm">Full name</label>
                    <input type="text" name="" placeholder="Enter first and last name">
                </div>
                <div class="form-group">
                    <label class="txt-sm">Email</label>
                    <input type="email" name="" placeholder="Enter user’s email">
                </div>
                <div class="form-group">
                    <label class="txt-sm">Role</label>
                    <select name="" class="select2-min">
                        <option value="">Admin</option>
                        <option value="">Manager</option>
                        <option value="">Accountant</option>
                        <option value="">Card Holder</option>
                    </select>
                    <div class="note mt-0">Role cannot be empty</div>
                </div>
                <div class="form-group">
                    <label class="txt-sm">Department (Optional)</label>
                    <textarea></textarea>
                </div>
                <div class="box-btn flex">
                    <button type="button" class="btn-cancel" data-dismiss="modal">CANCEL</button>
                    <button type="button" class="btn-pr btn-invite flex-center" data-dismiss="modal">SAVE</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal xs fade" id="edit-user">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal"></button>
            <h2 class="title">Edit user</h2>
            <form action="" method="" class="form-wp pr">
                <div class="form-group">
                    <label class="txt-sm">Full name</label>
                    <input type="text" name="" value="Vuong Thu Trang" class="font-weight-medium" placeholder="">
                </div>
                <div class="form-group">
                    <label class="txt-sm">Email</label>
                    <input type="email" name="" value="Antelope@123.com" class="font-weight-medium" placeholder="">
                </div>
                <div class="form-group">
                    <label class="txt-sm">Role</label>
                    <select name="" class="select2-min font-weight-medium">
                        <option value="">Admin</option>
                        <option value="">Manager</option>
                        <option value="">Accountant</option>
                        <option value="">Card Holder</option>
                    </select>
                    <div class="note mt-0">Role cannot be empty</div>
                </div>
                <div class="form-group">
                    <label class="txt-sm">Department (Optional)</label>
                    <textarea></textarea>
                </div>
                <div class="box-btn flex">
                    <button type="button" class="btn-cancel" data-dismiss="modal">CANCEL</button>
                    <button type="button" class="btn-pr btn-edit-user flex-center" data-dismiss="modal">SAVE</button>
                </div>
            </form>
        </div>
    </div>
</div>