:root{
  --gray: #A0A0A0;
  --orange: #FF843D;
}
body{
  background: rgba(#A0A0A0,.2);
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  color: #242424;
  line-height: 1.5;
  overflow-x: hidden;
  &::-webkit-scrollbar{width: 6px;}
  &::-webkit-scrollbar-track{background: #ccc;}
  &::-webkit-scrollbar-thumb{background: #888;}
}
@mixin hover{filter: saturate(1.9); -webkit-filter: saturate(1.9);}
a{transition: .25s;}
a:hover{text-decoration: none;}

//sidebar
.sidebar{
  width: 275px; padding: 45px 0;
  height: 100vh;
  background: #fff;
  overflow: hidden;
  position: relative;
  &::after,&::before{content: ""; position: absolute; width: 277px;}
  &::after{
    height: 450px;
    background: url("#{$img-path}/decor-1.svg") no-repeat 0 0/contain;
    right: 0; bottom: 0;
  }
  &::before{
    height: 650px;
    background: url("#{$img-path}/decor-2.svg") no-repeat 0 0/contain;
    top: 0; right: 0;
  }
  .btn-toggle-sidebar{margin-left: auto; background: none; position: relative; z-index: 2;}
  .icon-collapse{
    width: 24px; height: 24px;
    display: block;
    background: url("#{$img-path}/icon-collapse.svg") no-repeat;
  }
  .title{margin: 47px 0 4px;padding: 10px;}
  .menu{
    >*+*{margin-top: 8px;}
    > li{position: relative;}
    > li > a{padding: 10px 8px 10px 10px; font-weight: 700; color: #666; border-radius: 8px;}
    > li a:hover{color: #242424;}
    > li span{flex: 1;}
    .active{
      background: rgba(160, 160, 160, 0.30); color: #2E3032;
      .icon{filter: grayscale(0);}
    }
    .show{
      .sub-menu{display: block !important;}
      .btn-collapse{transform: rotate(180deg);}
    }
    .sub-menu{
      a{display: block; padding: 6px 42px; color: #666; line-height: 24px; border-radius: 8px;}
      .active{color: #2E3032;}
    }
    .btn-collapse{
      width: 24px; height: 24px;
      background: url("#{$img-path}/arrow-down.svg") no-repeat;
      position: absolute; right: 0; top: 10px;
    }
    .icon{width: 24px; height: 24px; margin-right: 8px; filter: grayscale(1);}
    .icon-dashboard{background: url("#{$img-path}/dashboard.svg") no-repeat;}
    .icon-account{background: url("#{$img-path}/account.svg") no-repeat;}
    .icon-card{background: url("#{$img-path}/icon-card.svg") no-repeat;}
    .icon-transfer{background: url("#{$img-path}/icon-tranfer.svg") no-repeat;}
    .icon-claim{background: url("#{$img-path}/icon-claim.svg") no-repeat;}
    .icon-bills{background: url("#{$img-path}/icon-bill.svg") no-repeat;}
    .icon-transaction{background: url("#{$img-path}/icon-transaction.svg") no-repeat;}
    .icon-user{background: url("#{$img-path}/key.svg") no-repeat;}
  }
  .navbar{
    height: calc(100vh - 180px); overflow: auto; padding-bottom: 20px; align-items: flex-start; z-index: 2;
    &::-webkit-scrollbar{width: 2px;}
    &::-webkit-scrollbar-track{background: transparent;}
    &::-webkit-scrollbar-thumb{background: #ccc ;}
  }
}
.hide-sidebar{
  .sidebar{
    position: fixed; left: -100%; z-index: 9;
    .btn-toggle-sidebar{
      width: 40px; height: 40px; display: flex; align-items: center; justify-content: center;
      background: #d9d9d9;
      border-radius: 0 8px 8px 0;
      position: fixed; left: 0;
    }
  }
  .main-content{width: 100%;}
}
.main-content{
  width: calc(100% - 275px); padding: 25px 20px 0;
  .account{margin-bottom: 34px; justify-content: flex-end; padding: 0 20px;}
  .col-sys{align-items: flex-start;}
  .col-full,.col-mid{
    max-height: calc(100vh - 100px); padding-bottom: 30px; border-radius: 12px; overflow: auto;
    &::-webkit-scrollbar{width: 0px;}
    &::-webkit-scrollbar-track{background: #ccc;}
    &::-webkit-scrollbar-thumb{background: #888;}
    .content{
      width: 100%;
      padding: 40px;
      border-radius: 12px;
      background: rgba(255, 255, 255, 0.70);
      height: 100%;
    }
  }
  .col-mid{width: calc(74.6% - 20px);}
  .col-full{
    width: 100%;
    &.white .content{padding: 0; background: none;}
    .bg-col{padding: 20px 40px; background: #fff; border-radius: 12px;}
  }
  .col-sm{
    width: 24.4%; height: calc(100vh - 100px);
    margin-left: 20px; padding: 20px; border-radius: 12px 12px 0 0;
    background: rgba(255, 255, 255, 0.70);
    overflow: hidden;
    &::after{
      content: "";
      width: 406px; height: 1198px;
      background: url("#{$img-path}/decor-3.svg") no-repeat 0 0/cover;
      position: absolute; right: 0; top: 0; z-index: -1;
    }
  }
  .attach{
    justify-content: space-between;
    .item{
      width: calc(50% - 8px);
      padding: 6px 12px;
      border-radius: 12px;
      background: linear-gradient(180deg, rgba(255, 132, 61, 0.30) 0%, rgba(255, 157, 66, 0.30) 100%);
      color: #2E3032;
    }
    .icon{margin-right: 16px;}
    .txt{flex: 1;}
  }
  .chart{background: #fff; border-radius: 12px;}
  .box-link{
    a{
      margin-top: 8px;
      padding: 7px;
      border-radius: 12px;
      border: 1px solid #E8ECEF;
      background: rgba(255, 255, 255, 0.40);
      position: relative;
      color: #666;
    }
    a:hover{background: #f1f1f1;}
    a::after{
      content: "";
      width: 24px; height: 24px;
      background: url("#{$img-path}/arrow-right.svg") no-repeat;
      position: absolute; top: 50%; transform: translateY(-50%); right: 8px;
    }
    .icon{width: 40px; margin-right: 16px;}
  }
}
.transactions{
  .header{
    margin-bottom: 15px;
    a{margin-left: auto; color: var(--gray);}
    a:hover{color: #000;}
  }
  h2.title{margin-bottom: 0;}
  .box-time{
    flex-wrap: nowrap;
    time{display: block; color: #666; padding-right: 16px; line-height: 24px;}
    .line{height: 1px; width: 90%; flex: 1; background: rgba(#E0E0E0,.5);}
  }
  .transaction-list{
    li{padding: 16px;}
    .info{padding-left: 16px; flex: 1;}
    p{font-weight: 500;}
    .icon{
      width: 40px; height: 40px;
      display: flex; align-items: center; justify-content: center;
      border-radius: 50%;
      background: #F0F0F0;
    }
    time{display: block; color: #666666;}
    .nav{margin-left: auto;}
  }
}
.virtual-card{
  .box-select{margin-bottom: 34px;}
  .col-right{width: 216px;}
  .card{
    width: calc(100% - 216px); border: none; flex-direction: row;
    &__img{width: 36%; max-width: 304px;}
    &__info{width: 64%; padding-left: 30px;}
    .box-btn{margin-top: 30px;}
    p{color: #666; line-height: 24px;}
    p strong{color: #2E3032;}
    .info > *+*{margin-top: 8px;}
    .icon{width: 20px; height: 20px;}
    .icon-add{background: url("#{$img-path}/add.svg") no-repeat; margin-right: 2px;}
    .icon-see{background: url("#{$img-path}/arrow-right-1.svg") no-repeat; margin-left: 2px;}
  }
  .box-btn{
    >*+*{margin-left: 16px;}
    a,button{
      padding: 3px 8px; border-radius: 6px;
      &:hover{@include hover;}
    }
    .btn-create{border: 1px solid #FF843D; color: #FF843D;}
    .btn-see{border: 1px solid #666; color: #666;}
  }
  .dropdown{
    padding: 0;
    .btn-dropdown{
      width: 100%;
      padding: 10px 0;
      border-radius: 8px;
      background: linear-gradient(180deg, #FF5942 0%, #FF843D 100%);
      font-weight: 500;
      color: #fff;
      letter-spacing: -0.32px;
      &:hover{@include hover;}
    }
    .btn-dropdown::after{
      content: "";
      width: 24px; height: 24px;
      display: block;
      margin-left: 8px;
      background: url("#{$img-path}/arrow-down-1.svg") no-repeat;
    }
    .dropdown-menu{
      min-width: 204px;
      padding: 2px 0;
      border-radius: 8px;
      border: 1px solid #E8E6E6;
      background: #FEFEFE;
      font-size: 14px;
      box-shadow: 0px 40px 64px -16px rgba(0, 0, 0, 0.15), 0px 0px 4px 0px rgba(0, 0, 0, 0.05);
      left: inherit; right: -25px;
      a,button{
        display: block; background: none;
        width: 100%;
        padding: 10px 20px; line-height: 24px; color: #2E3032;
        text-align: left;
        &:hover{background: #F0F0F0;}
      }
    }
  }
  .btn-topup{
    width: 100%;
    margin-top: 8px;
    padding: 10px;
    border-radius: 8px;
    background: linear-gradient(180deg, #FF9D42 0%, #FFC700 100%);
    letter-spacing: -0.32px;
    font-weight: 500;
    color: #2E3032;
    &:hover{@include hover;}
  }
}
.transfer{
  .coming-soon{padding: 40px 0; color: #666;}
}
.avatar{
  cursor: pointer;
  &__info{text-align: right; padding-right: 16px;}
  &__img{
    width: 40px;
    img{width: 100%; height: 100%; object-fit: cover; border-radius: 50%;}
  }
}
.account{
  .dropdown-menu{
    min-width: 170px;
    padding: 2px;
    border-radius: 8px;
    border: 1px solid #E8E6E6;
    background: #FEFEFE;
    box-shadow: 0px 40px 64px -16px rgba(0, 0, 0, 0.15), 0px 0px 4px 0px rgba(0, 0, 0, 0.05);
    position: absolute; right: 0; top: 55px; left: inherit;
    a{display: block; padding: 10px; line-height: 24px; color: #2E3032; border-radius: 8px;}
    a:hover{background: #F0F0F0;}
  }
}
.mycard{
  padding: 20px 40px; background: #fff; border-radius: 12px;
  .box-table{
    .navbar{justify-content: flex-start;}
    .dropdown-menu{right: 20px;}
  }
  .btn-addcard{
    width: 132px; height: 36px;
    border-radius: 6px;
    background: linear-gradient(180deg, #FF5942 0%, #FF843D 100%);
    font-weight: 500;
    color: #fff;
    .icon-addcard{width: 24px; height: 24px; background: url("#{$img-path}/add_card.svg") no-repeat; margin-right: 8px;}
    &:hover{@include hover;}
  }
  .balance{margin: 0 40px 0 auto;}
  .card-number{
    height: 36px; width: 133px;
    border-radius: 6px;
    padding: 0 16px;
    border: 1px solid var(--Light, #F0F0F0);
    background: linear-gradient(180deg, rgba(255, 132, 61, 0.20) 0%, rgba(255, 157, 66, 0.20) 100%);
    line-height: 24px;
    .icon{margin-right: 8px; width: 20px; height: 16px; background: url("#{$img-path}/card-3.svg") no-repeat;}
  }
  .form-search{padding: 0 20px; flex: 1;}
  .select2{min-width: 190px !important;}
}
.profile{
  padding: 20px 40px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.70);
  .box-level{width: 100%; max-width: 880px;  margin: 160px auto 90px;}
  .level{
    justify-content: space-between; z-index: 2;
    li{position: relative; cursor: pointer;}
    li::before{
      content: "";
      width: 25px; height: 24px; display: block;
      background: url("#{$img-path}/dot.svg") no-repeat;
      position: absolute; top: -7px; left: -10px;
    }
    li:hover .box-note{opacity: 1; z-index: 2; visibility: visible; transform: translateY(0);}
    .box-note{
      width: 281px; height: 101px;
      padding: 10px 15px 24px;
      position: absolute; left: -140px; bottom: 40px;
      background: url("#{$img-path}/bg-tl.svg") no-repeat 0 0/contain;
      /*transform: translateY(20px); opacity: 0; visibility: hidden; transition: .3s; z-index: -1;*/
    }
    .icon{width: 32px; position: absolute; top: -24px; left: -15px;}
    .txt-sm{white-space: nowrap; position: absolute; top: 22px; left: -20px; color: #666;}
    .active{
      .txt-sm{color: #2E3032;}
    }
  }
  .settings{
    li{padding: 8px 40px 8px 0; position: relative;}
    .switch,.btn-edit{position: absolute; right: 0; top: 50%; transform: translateY(-50%);}
  }
  .bank-account{
    .status{
      &.pending{color: #4782F3;}
    }
    .info{
      li{margin-bottom: 20px;}
    }
  }
  .setting-list{
    >*+*{border-top: 1px solid #F0F0F0;}
  }
  .progress{
    width: 100%;
    border-radius: 6px;
    height: 10px;
    background: #F0F0F0;
    position: absolute; left: 0; top: 0;
    &__value{
      position: absolute; height: 100%;
      border-radius: 6px;
      background: linear-gradient(180deg, #FF5942 0%, #FF843D 100%);
    }
  }
  h5{margin-bottom: 0; font-weight: 400; font-size: 14px; line-height: 24px; color: #666;}
  .btn-start-kyc{
    width: 187px; height: 44px;
    margin: 0 auto 20px;
    border-radius: 8px;
    background: rgba(255, 132, 61, 0.30);
    color: #FF5942;
    &:hover{@include hover;}
  }
  .btn-edit{
    width: 40px; height: 40px; border-radius: 50%;
    &:hover{background: #f7f7f7;}
  }
  .btn-sb{padding: 5px 27px;}
  .icon-edit{width: 16px; height: 16px; background: url("#{$img-path}/icon-edit.svg") no-repeat;}
}
.coming-soon{
  &.mh-lg{min-height: 500px; color: #666;}
}


.box-table{
  width: 100%; overflow: auto;
  &::-webkit-scrollbar{width: 0px; height: 2px;}
  &::-webkit-scrollbar-track{background: #ccc;}
  &::-webkit-scrollbar-thumb{background: #888;}
  table{width: 100%;}
  th{padding: 16px; color: #2E3032; line-height: 24px;}
  td{
    padding: 16px;
    line-height: 24px;
    border-top: 1px solid #E8ECEF;
    border-bottom: 1px solid #E8ECEF;
  }
  td[colspan="5"] {
    background: #F0F0F0; border: none;
  }
  strong{font-size: 12px;}
  .status{
    color: #666;
    font-weight: 700;
    &.pending{color: #666666;}
    &.success{color: #FF9D42;}
    &.failed{color: #FF5942;}
    &.processing{color: #A0A0A0;}
  }
  .st{
    font-weight: 700;
    &.active{color: #52BA69;}
    &.pending{color: #666;}
  }
  .card{
    border: none;
    flex-direction: row;
    flex-wrap: nowrap;
    .img{width: 64px; height: 42px;}
    .name{padding-left: 16px;}
  }
  .recharge{color: #FF843D;}
  .icon-more{
    width: 24px; height: 25px;
    background: url("#{$img-path}/more.svg") no-repeat;
  }
  .navbar{
    display: flex; justify-content: flex-end; padding: 0;
    .btn-more{
      width: 30px; height: 30px; display: flex; align-items: center; justify-content: center; border-radius: 50%;
      &:hover{background: #f3f3f3;}
    }
    .btn-view{
      text-decoration: underline; color: #A0A0A0; white-space: nowrap;
      &:hover{color: #333;}
    }
  }
  button{background: none;}
  .dropdown-menu{
    min-width: 202px;
    position: absolute; top: 32px; left: inherit;
    border-radius: 8px;
    padding: 0;
    border: 1px solid #E8E6E6;
    background: #FEFEFE;
    box-shadow: 0px 40px 64px -16px rgba(0, 0, 0, 0.15), 0px 0px 4px 0px rgba(0, 0, 0, 0.05);
    button{padding: 10px; width: 100%; text-align: left; font-size: 14px;}
    button:hover{background: #F0F0F0;}
  }
  .name{white-space: nowrap;}
  .check{
    display: flex; align-items: center; margin-bottom: 0; position: relative;
    input{position: absolute; opacity: 0;}
    .checked{width: 25px; height: 24px; display: block; background: url("#{$img-path}/un-check.svg") no-repeat center center;}
    input:checked + .checked{width: 25px; height: 24px; display: block; background: url("#{$img-path}/check.svg") no-repeat;}
  }
}
.box-table--cs{
  td{padding: 6px 16px;}
  td:first-child,td:last-child{padding: 0; border: none;}
  tbody{
    tr:nth-child(even) td{border: none; padding: 10px 0;}
  }
  .status{
    display: inline-block;
    padding: 0 12px;
    font-size: 12px;
    line-height: 20px;
    border-radius: 9999px;
    &.activated{background: rgba(82, 186, 105, 0.10); color: #52BA69;}
    &.freeze{background: rgba(255, 157, 66, 0.10); color: #FF9D42;}
    &.canced{background: rgba(160, 160, 160, 0.10); color: #A0A0A0;}
  }
  .card{
    margin-top: -1px;
    padding: 6px 0 6px 16px;
    border: 1px solid #E8ECEF; border-radius: 8px 0 0 8px; border-right: none;
  }
  .navbar{
    height: 56px;
    padding: 0 16px;
    margin-top: -1px;
    border: 1px solid #E8ECEF; border-radius: 0 8px 8px 0; border-left: none;
  }
}
.datepicker{
  td,th{width: 25px; height: 30px;}
  table{
    tr td.active,tr td.active.active,tr td.active:hover, tr td.active:hover:active,tr td.active:hover:hover{background: #ffead9; color: #000;}
  }
  th{font-weight: 500; font-size: 14px;}
  td{font-weight: 400; font-size: 14px;}
  .dow{padding: 20px 0 10px;}
  .datepicker-switch{ font-size: 18px; font-weight: 500;}
  .next,.prev{
    width: 10px; height: 16px; display: block;
    margin-top: 8px;
    background: url("#{$img-path}/arr1.png") no-repeat 0 0/contain;
    font-size: 0;
    &:hover{background: url("#{$img-path}/arr1.png") no-repeat 0 0/contain;}
  }
  .prev{margin-bottom: 10px; transform: rotate(180deg); margin-left: auto;}
}
.modal{
  &.xs{
    .modal-dialog{max-width: 600px;}
  }
  &.sm{
    .modal-dialog{max-width: 660px;}
  }
  &.md{
    .modal-dialog{max-width: 690px;}
  }
  .modal-dialog{max-width: 800px;}
  h2.title{margin-bottom: 32px;}
  .close{
    width: 40px; height: 40px;
    background: url("#{$img-path}/close.svg") no-repeat 0 0/contain;
    position: absolute; top: 30px; right: 30px; opacity: 1; z-index: 2;
  }
  .modal-content{
    padding: 32px;
    border: none;
    background: #fff;
    border-radius: 12px;
    &.px{padding: 32px 62px;}
    &::after{
      content: "";
      width: 426px; height: 407px;
      background: url("#{$img-path}/decor-4.svg") no-repeat 0 0/contain;
      position: absolute; bottom: 0; left: 0;
    }
  }
  .modal-form{
    position: relative; z-index: 2;
    .form-group{margin-bottom: 12px;}
    label{width: 50%; margin-bottom: 0; padding: 10px 0;}
    input,textarea{
      width: 100%;
      height: 44px;
      padding: 0 16px;
      border-radius: 12px;
      border: 1px solid #E8ECEF;
      font-size: 16px; line-height: 24px;
      &.bg-gray{background: #f8f7f6;}
      &::placeholder{color: #A3A3A3;}
    }
    textarea{padding: 10px 16px; height: 86px; width: 50%; background: none;}
    .content{width: 50%;}
  }
  .form-wp{
    z-index: 2;
    label{display: block; margin-bottom: 4px; color: #666;}
    input,textarea{
      border-radius: 12px;
      border: 1px solid #F0F0F0;
      font-size: 16px; line-height: 24px;
    }
    input{
      width: 100%; height: 44px;
      padding: 0 16px;
      &::placeholder{color: #A0A0A0;}
    }
    textarea{height: 67px; width: 100%; background: none; padding: 16px;}
  }
  .card{
    margin: 30px -8px 0; border: none; flex-direction: row; z-index: 2;
    &__front{
      .info{
        display: flex; flex-direction: column;
        justify-content: flex-end;
        padding: 0 20px 10px; color: #fff;
        >*+*{margin-top: 5px;}
      }
      p{text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);}
    }
    > div{padding: 0 8px; width: 50%;}
    .info{width: 100%; height: 100%; position: absolute; top: 0; left: 0;}
  }
  .tab{
    margin-bottom: 30px;
    background: linear-gradient(180deg, rgba(255, 132, 61, 0.10) 0%, rgba(255, 157, 66, 0.10) 100%);
    max-width: 100%;
    a{padding: 10px 16px; text-transform: none;}
    .active{
      background: linear-gradient(180deg, rgba(255, 132, 61, 0.50) 0%, rgba(255, 157, 66, 0.50) 100%);
    }
  }
  .tab-content{position: relative; z-index: 2;}
  .topup{
    h3{font-weight: 400; letter-spacing: -0.32px;}
  }
  .info-list{
    >*+*{margin-top: 16px;}
    &.sm >*+*{margin-top: 8px;}
    .title,.content{width: 50%;}
    .title{padding: 10px 0;}
    h4{color: #2E3032; font-weight: 400;}
  }
  .detail-info{
    .item{
      h4,div{width: 50%; padding: 10px 0;}
      h4{font-weight: 400; padding-right: 10px;}
    }
  }
  .note{margin-top: 10px; font-size: 12px; font-style: italic; line-height: 20px; color: #FF5942;}
  .notifi{
    margin-bottom: 30px;
    padding: 10px 16px;
    border-radius: 12px;
    border: 1px solid rgba(82, 186, 105, 0.50);
    background: rgba(82, 186, 105, 0.10);
    font-style: italic;
    letter-spacing: -0.15px;
  }
  .border{
    align-items: center;
    padding: 0 16px;
    border-radius: 12px;
    border: 1px solid #F0F0F0;
    &.bg-gray{
      background: #f8f7f6;
      input{background: none;}
    }
    input{height: 44px; border: none; padding: 0 30px 0 0;}
    span{position: absolute; right: 16px;}
  }
  .balance{padding: 10px 0;}
  .box-btn{
    margin-top: 30px; justify-content: flex-end; position: relative; z-index: 2;
    >*+*{margin-left: 16px;}
    button{max-width: 48%; padding: 0 10px; font-size: 16px;}
    .btn-sub.lg{max-width: 100%;}
    .w-100{max-width: 100%;}
    &--cs{
      >*+*{margin-left: 32px;}
      button{width: 168px;}
    }
  }
  .box-note{
    margin: 30px 0 10px;
    h4{margin-bottom: 16px; font-weight: 400; font-size: 14px;}
    p{line-height: 24px; padding-left: 15px; position: relative;}
    p::before{
      content: "";
      width: 4px; height: 4px;
      border-radius: 50%;
      background: #2E3032;
      position: absolute; left: 4px; top: 9px;
    }
    .content{
      padding: 16px;
      border-radius: 12px;
      background: #F0F0F0;
    }

  }
  .checkbox{
    padding: 8px 16px;
    label{margin-bottom: 0; width: 100%; padding: 0;}
    input{width: 16px; height: 16px; margin-right: 8px;}
  }
  .box-link{
    line-height: 24px; position: relative; z-index: 2;
    a{color: #FF5942;}
    a:hover{text-decoration: underline;}
  }
  .btn-cancel{
    width: 145px; height: 36px;
    background: none;
    border-radius: 6px;
    border: 1px solid rgba(160, 160, 160, 0.50);
    font-weight: 500;
    &:hover{background: rgba(#2E3032,.2);}
  }
  .btn-copy{
    color: var(--orange); position: relative; z-index: 2;
    &:hover{text-decoration: underline;}
  }
  .select2-container{width: 100% !important; background: #fff; border-radius: 12px;}
  .select2-container .select2-selection--single{height: 44px;}
  .select2-container--default .select2-selection--single .select2-selection__rendered{line-height: 44px;}
  .select2-container--default .select2-selection--single .select2-selection__arrow{height: 44px;}
}
.modal-active .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

.box-select{
  .selected{
    cursor: pointer;
    &::after{
      content: "";
      width: 24px; height: 24px;
      background: url("#{$img-path}/arrow-down.svg") no-repeat;
      position: absolute;
      right: 0;
    }
    .img{width: 40px; height: 40px; border-radius: 50%; overflow: hidden}
  }
}
.select-date{
  padding: 2.5px 16px;
  border-radius: 6px;
  border: 1px solid var(--Light, #F0F0F0);
  background: linear-gradient(180deg, rgba(255, 132, 61, 0.20) 0%, rgba(255, 157, 66, 0.20) 100%);
  input{
    width: 131px;
    background: #ffe9d9 url("#{$img-path}/calendar.svg") no-repeat right center;
    border: none;
    &:focus{outline: none;}
  }
}
.form-search{
  &.sm{max-width: 360px;}
  input{
    width: 100%;
    border-radius: 8px;
    height: 40px;
    padding: 0 16px 0 50px;
    border: none;
    background:#F0F0F0 url("#{$img-path}/icon-search.svg") no-repeat 16px center;
    &:focus{outline: none;}
  }
}
.box-filter{
  margin: 0 -17px 28px;
  > div,.form-search{margin: 8px 0; padding: 0 17px;}
  .form-search{flex: 1;}
  .select2-container--open .select2-dropdown--below{margin-top: 10px;}
  .select2-container{min-width: 144px;}
  .space{padding: 0 20px;}
}
.tab{
  width: 100%; max-width: 400px;
  margin-bottom: 16px;
  align-items: center;
  padding: 10px;
  border-radius: 12px;
  background: linear-gradient(180deg, rgba(255, 132, 61, 0.20) 0%, rgba(255, 157, 66, 0.20) 100%);
  position: relative; z-index: 2;
  &.lg{max-width: 500px;}
  li{width: 50%;}
  a{width: 100%; display: block; padding: 6px 16px; border-radius: 10px; text-align: center; color: #666; font-weight: 500; text-transform: uppercase;}
  span{display: block; color: #666; font-size: 14px; line-height: 24px;}
  .active{
    background: linear-gradient(180deg, #FF843D 0%, #FF9D42 100%);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.16);
    color: #2E3032;
  }
}
.btn-export{
  margin-bottom: 20px;
  .icon{width: 17px; height: 16px; background: url("#{$img-path}/send-1.svg") no-repeat; margin-right: 8px;}
}
.btn-adduser{
  margin-left: 35px;
  .icon{width: 25px; height: 24px; background: url("#{$img-path}/person_add.svg") no-repeat; margin-right: 8px;}
}
.btn-pr{
  width: 175px; height: 36px;
  border-radius: 6px;
  background: linear-gradient(180deg, #FF5942 0%, #FF843D 100%);
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: -0.32px;
  &:hover{filter: saturate(2);}
}
.btn-sub{
  height: 36px;
  border-radius: 8px;
  background: linear-gradient(180deg, #FF9D42 0%, #FFC700 100%);
  color: #2E3032;
  font-weight: 500;
  letter-spacing: -0.32px;
  &.lg{width: 350px;}
  &:hover{filter: saturate(2);}
}
.btn-sb{
  border-radius: 6px;
  border: 1px solid rgba(160, 160, 160, 0.50);
  letter-spacing: -0.32px;
  font-weight: 500;
  &:hover{background: rgba(160, 160, 160, 0.50);}
}

.box-pagination{
  margin-top: 30px;
  .pagination{margin-left: 10px;}
  select{
    padding: 4px 7px;
    border-radius: 4px;
    border: 1px solid rgba(160, 160, 160, 0.30);
    background: #fff;
    color: #666;
    font-size: 12px;
    &:focus{outline: none;}
  }
  .page-link{
    width: 24px; height: 24px;
    margin-left: 10px;
    display: flex; align-items: center; justify-content: center;
    border-radius: 4px;
    border: 1px solid rgba(160, 160, 160, 0.30);
    background: #F0F0F0;
    padding: 0;
    color: #666;
    font-size: 12px;
  }
  .active .page-link{background: #A0A0A0; color: #fff; border: none; font-weight: 400;}
  .icon{width: 8px; height: 5px; background: url("#{$img-path}/arrow-down-2.svg") no-repeat; transform: rotate(-90deg);}
  .icon-prev{transform: rotate(90deg);}
}
.notifi-fix{
  position: fixed; top: 26px; right: -100%; transition: .8s;
  &.show{right: 10px;}
  .notifi-success{
    padding: 12px 24px;
    border-radius: 9px; background: #52BA69;
  }
  .icon{margin-right: 16px;}
  span{font-weight: 500; color: #fff;}
}

//switch
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}
.switch input{opacity: 0;width: 0;height: 0;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 1px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #FF843D;
}

input:focus + .slider {
  box-shadow: 0 0 1px #FF843D;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
//select2-min
.select2-container{
  background: linear-gradient(180deg, rgba(255, 132, 61, 0.20) 0%, rgba(255, 157, 66, 0.20) 100%);
  border: 1px solid #F0F0F0;
  border-radius: 6px;
  .selection{}
  &:focus{outline: none;}
}
.selection,.select2-selection{
  &:focus{outline: none;}
}
.select2-container .select2-selection--single .select2-selection__rendered{
  padding-left: 15px;
  padding-right: 35px;
  color: #2E3032;
  font-size: 14px;
}
.select2-container--default.select2-container--open.select2-container--below .select2-selection--single, .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple{border-radius: 12px;}
.select2-container .select2-selection--single{height: 36px; width: 100%;}
.select2-container--default .select2-selection--single{border: none; background: none;}
.select2-container--default .select2-selection--single .select2-selection__rendered{line-height: 36px;}
.select2-container--default .select2-selection--single .select2-selection__arrow{height: 34px; width: 32px;}
.select2-search--dropdown{display: none;}
.select2-container--default .select2-results__option--selected{background: #e0e0e0 !important; color: var(--blue) !important;}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable{background: none; color: #212121;}
.select2-container--default .select2-results__option:hover{background: #efefef; color: #212121;}
.select2-container--open .select2-dropdown--below{
  padding: 2px;
  border-radius: 8px;
  background: #FEFEFE;
  box-shadow: 0px 40px 64px -16px rgba(0, 0, 0, 0.15), 0px 0px 4px 0px rgba(0, 0, 0, 0.05);
  border: 1px solid #E8E6E6;
}
.select2-container--default .select2-results > .select2-results__options{
  padding: 0;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b{
  border-width: 0;
  width: 24px; height: 24px;
  background: url("#{$img-path}/arrow-down.svg") no-repeat;
  top: 52%; transform: translate(-50%,-50%); left: 50%;
}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b{
  border-width: 0;
  transform: translate(-50%,-50%) rotate(180deg);
}
.select2-container--default .select2-results>.select2-results__options{
  padding: 0; background: #fff; border-radius: 8px;
  overflow: auto;
  &::-webkit-scrollbar{width: 3px;}
  &::-webkit-scrollbar-track{background: #fcfcfc;}
  &::-webkit-scrollbar-thumb{background: #ccc;}
}
.select2-results__option{
  padding: 10px 12px;
  font-size: 14px;
  line-height: 24px;
  color: #4E4C50
}
.select2-container--default .select2-results__option[aria-selected=true]{background: none;}
.select2-container--default .select2-results__option--highlighted[aria-selected]{background: #F0F0F0; color: #2E3032;}



//uikit
.pr{position: relative;}
.icon{display: block;}
input:focus,textarea:focus{outline: none;}
button{
  background: none; border: none; cursor: pointer; padding: 0; transition: .25s;
  &:focus{outline: none;}
}
.bg-white{
  padding: 20px;
  border-radius: 12px;
  border: 1px solid #E8ECEF;
  background: #fff;
}
.gray{color: #666;}
.gray-1{color: #A0A0A0;}
.mb-sm{margin-bottom: 20px;}
.mb-md{margin-bottom: 40px;}
.px-20{padding: 0 20px;}
.font-weight-medium{font-weight: 500;}
.txt-xs{font-size: 12px; line-height: 20px;}
.txt-sm{font-size: 16px; line-height: 24px;}
.txt-lg{font-size: 20px; line-height: 36px;}

.img-fit{width: 100%; height: 100%; object-fit: cover;}
h2.title{
  margin-bottom: 15px;
  font: 500 20px/36px 'Unbounded', sans-serif;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media (max-width: 1440px) {
  .sidebar{width: 240px;}
  .main-content{
    width: calc(100% - 240px);
    .col-mid .content{padding: 25px;}
  }
  .virtual-card{
    .col-right{width: 180px;}
    .card{
      width: calc(100% - 180px);
      .info > *+*{margin-top: 4px;}
      &__info{padding: 0 20px;}
    }
    .dropdown{
      .btn-dropdown{
        font-size: 15px;
        &::after{margin-left: 2px;}
      }
    }
  }
  .box-filter{
    margin: 0 -8px 16px;
    > div,.form-search{padding: 0 8px;}
    .form-search{flex: inherit; min-width: 300px;}
    .space{padding: 0 12px;}
  }
}


@media (max-width: 1200px) {
  .hide-sidebar{
    .sidebar{left: -240px;}
    .sidebar.show{left: 0;}
  }
  .sidebar{
    height: 100%; position: fixed; left: -240px; transition: .5s; z-index: 9;
    &::after,&::before{width: 235px; display: none;}
    &::after{height: 382px;}
    &::before{height: 551px;}
    &.show{
      left: 0;
      .btn-toggle-sidebar{left: 240px;}
    }
    .btn-toggle-sidebar{
      width: 40px; height: 40px;
      background: #d9d9d9;
      border-radius: 0 8px 8px 0;
      display: flex; align-items: center; justify-content: center;
      position: fixed; left: 0; transition: .5s;
    }
  }
  .main-content{width: 100%;}
  .modal-sidebar{
    width: 100%; height: 100%;
    background: rgba(#000,.6);
    position: fixed; left: 0; top: 0;
    opacity: 0; visibility: hidden;
    transition: .2s;
    z-index: -1;
    &.show{opacity: 1; z-index: 3; visibility: visible;}
  }
}
@media (max-width: 1024px) {
  .main-content{
    padding-bottom: 30px;
    .col-mid,.col-sm{width: 100%; margin-left: 0;}
    .col-mid{max-height: inherit;}
    .col-sm{height: auto; border-radius: 12px;}
  }
}
@media (max-width: 768px) {
  .main-content{
    padding: 25px 16px;
    .col-mid .content,.col-sm{padding: 20px 15px;}
    .col-full{
      .bg-col,.content{padding: 24px 16px;}
    }
    .attach{
      >*+*{margin-top: 15px;}
      .icon{margin-right: 0;}
      .item{width: 100%; padding: 3px 6px;}
    }
    .account{padding: 0; margin-bottom: 25px;}
  }
  .transactions{
    .transaction-list{
      li{padding: 16px 0;}
      li > div:nth-child(1){width: 70%;}
    }
  }
  .virtual-card{
    .card,.col-right{width: 100%;}
    .col-right{margin-top: 30px;}
  }
  .mycard{
    padding: 20px 15px;
    .balance{margin: 0 16px 0 0;}
    .form-search{padding: 0; flex: auto; width: 100%; margin-top: 8px; order: 3;}
    .card-number{margin: 8px 16px 8px 0;}
  }
  .profile{
    padding: 20px 15px;
    .box-level{max-width: 90%;}
  }

  .modal{
    .modal-content{
      padding: 24px 15px;
      &.px{padding: 24px 15px;}
    }
    .card{
      > div{padding: 0 4px;}
      &__front{
        .info{
          padding: 10px; font-size: 12px; line-height: 18px;
          > *+*{margin-top: 0;}
        }
      }
    }
    .close{top: 20px; right: 10px;}
    h2.title{margin-bottom: 24px;}
    .modal-form{
      label{padding-right: 5px;}
      input{font-size: 14px;}
    }
    .box-btn{
      margin-top: 24px;
      button{font-size: 15px;}
      &--cs{
        >*+*{margin-left: 4%;}
        button{max-width: 48%;}
      }
    }
    .notifi,.box-note,.tab{margin-bottom: 24px;}
  }
  .tab{
    span{margin-top: 5px; font-size: 12px; line-height: 18px;}
  }
  .box-table{
    .card{
      .name{padding-left: 10px;}
    }
    th,td{padding: 10px; line-height: 22px;}
  }
  .box-table--cs{
    .card{padding-left: 10px;}
    td{padding: 6px 10px;}
  }
  .select-date{
    padding: 2.5px 5px;
  }
  .box-filter{
    .space{padding: 0 5px;}
    .form-search{width: 100%;}
  }
  .notifi-fix{
    .icon{margin-right: 10px;}
    .notifi-success{padding: 10px;}
  }

  .txt-sm{font-size: 14px; line-height: 20px;}
  h2.title{font-size: 18px; line-height: 30px;}
  .bg-white{padding: 20px 15px;}
}

@media (max-width: 540px) {
  .virtual-card{
    .card{
      &__info,&__img{width: 100%; padding: 0;}
      &__info{margin-top: 30px;}
    }
  }
  .mycard{
    h2.title{width: 100%; padding-bottom: 10px;}
  }
  .users{
    .form-search{width: 100%; margin-bottom: 16px;}
    .btn-adduser{margin-left: 0;}
  }
}